	</div>
		</div>

		<div class="footer">
			<div class="container">
				<div class="footer-holder">
					<div class="logo-holder">
						<a href="#" class="logo">
							<img src="images/logo.svg" alt="logo" class="logo-dark">
							<img src="images/logo-light.svg" alt="logo" class="logo-light">
						</a>
					</div>
					<div class="footer-menu">
						<ul class="footer-nav">
							<li class="item">
								<a href="#" class="link">Главная</a>
							</li>
							<li class="item">
								<a href="#" class="link">Рассказать другу</a>
							</li>
							<li class="item">
								<a href="#" class="link">Обратная связь</a>
							</li>
							<li class="item">
								<a href="#" class="link">Порно</a>
							</li>
						</ul>
					</div>
					<div class="footer-text">
						<div class="text">Copyright &copy; | 2025</div>
						<div class="text">Все права защищены</div>
					</div>
				</div>
			</div>
		</div>

		<div class="menu">
		    <div class="top user-logged">
		    	<div class="avatar">
		    		<!-- is avatar -->
		    			<img src="images/temp/ava-sm.jpg" alt="avatar">
		    		<!-- is avatar -->

		    		<!-- no avatar -->
		    		<!-- <svg class="svg-icon"><use xlink:href='#icon-user2'/></svg> -->
		    		<!-- no avatar -->

		    		<div class="online"></div>
		    	</div>
		    	<div class="name">maxpower</div>
		    	<div class="wrap-img">
		    		<img src="images/svg/colore/premium-icon.svg" alt="icon">
		    		<img src="images/svg/colore/check.svg" alt="icon">
		    	</div>
		    </div>
		    <div class="row">
		    	<a href="#" class="menu-link">
		    		<span class="wrap">
			    		<img src="images/svg/colore/post.svg" class="icon" alt="icon">
			    		<span class="text">Лента</span>
		    		</span>
		    	</a>
		    	<a href="#" class="menu-link">
		    		<span class="wrap">
			    		<svg class="svg-icon icon"><use xlink:href='#icon-star'/></svg>
			    		<span class="text">Избранное</span>
		    		</span>
		    	</a>
		    	<a href="#" class="menu-link">
		    		<span class="wrap">
			    		<svg class="svg-icon icon"><use xlink:href='#icon-user-friends'/></svg>
		    			<span class="text">Мои друзья</span>
		    		</span>
		    		<span class="col-right">
		    			<span class="badge">+22</span>
		    		</span>
		    	</a>
		    	<a href="#" class="menu-link">
		    		<span class="wrap">
			    		<svg class="svg-icon icon"><use xlink:href='#icon-message'/></svg>
			    		<span class="text">Мои сообщения</span>
		    		</span>
		    		<span class="col-right">
		    			<span class="badge">2</span>
		    		</span>
		    	</a>
		    	<a href="#" class="menu-link">
		    		<span class="wrap">
			    		<svg class="svg-icon icon"><use xlink:href='#icon-heart'/></svg>
			    		<span class="text">Мои подписки</span>
		    		</span>
		    	</a>
		    </div>
		    <div class="row">
		    	<a href="#" class="menu-link">
		    		<span class="wrap">
			    		<svg class="svg-icon icon"><use xlink:href='#icon-settings'/></svg>
			    		<span class="text">Настройки профиля</span>
		    		</span>
		    	</a>
		    	<a href="#" class="menu-link">
		    		<span class="wrap">
			    		<svg class="svg-icon icon"><use xlink:href='#icon-help'/></svg>
			    		<span class="text">Помощь</span>
		    		</span>
		    	</a>
		    	<div class="wrap-dropdown">
		    		<button type="button" class="menu-link js-dropdown">
		    			<span class="wrap">
				    		<svg class="svg-icon icon"><use xlink:href='#icon-theme'/></svg>
				    		<span class="text">Оформление</span>
			    		</span>
			    		<span class="col-right">
			    			<svg class="svg-icon arrow"><use xlink:href='#icon-arrow-right'/></svg>
			    		</span>
		    		</button>
		    		<ul class="dropdown">
		    			<li class="item">
		    				<label class="wrap-radio btn-theme">Тёмное
								<input type="radio" checked="checked" name="radio">
								<span class="checkmark"></span>
							</label>
						</li>
						<li class="item">
							<label class="wrap-radio btn-theme">Светлое
								<input type="radio" name="radio">
								<span class="checkmark"></span>
							</label>
						</li>
						<li class="item">
							<label class="wrap-radio btn-theme">Авто
								<input type="radio" name="radio">
								<span class="checkmark"></span>
							</label>
		    			</li>
		    		</ul>
		    	</div>
		    </div>
		    <div class="row">
		    	<a href="#" class="menu-link">
		    		<span class="wrap">
			    		<svg class="svg-icon icon"><use xlink:href='#icon-logout'/></svg>
			    		<span class="text">Выйти</span>
		    		</span>
		    	</a>
		    </div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="js/assets.js"></script>
	<script src="js/main.js"></script>

	{{> icons}}
</body>
</html>