	</div>
		</div>

		<div class="menu non-logged">
			<ul class="member-list">
				<li class="item">
					<a href="#" class="btn">
						<svg class="svg-icon"><use xlink:href="#icon-user-login"></use></svg>
						<span class="text">Вход</span>
					</a>
				</li>
				<li class="item">
					<a href="#" class="btn">Регистрация</a>
				</li>
			</ul>
		    <div class="row">
		    	<div class="wrap-dropdown">
		    		<button type="button" class="menu-link js-dropdown">
		    			<span class="wrap">
				    		<svg class="svg-icon icon"><use xlink:href='#icon-theme'/></svg>
				    		<span class="text">Оформление</span>
			    		</span>
			    		<span class="col-right">
			    			<svg class="svg-icon arrow"><use xlink:href='#icon-arrow-right'/></svg>
			    		</span>
		    		</button>
		    		<ul class="dropdown">
		    			<li class="item">
		    				<label class="wrap-radio btn-theme">Тёмное
								<input type="radio" checked="checked" name="radio">
								<span class="checkmark"></span>
							</label>
						</li>
						<li class="item">
							<label class="wrap-radio btn-theme">Светлое
								<input type="radio" name="radio">
								<span class="checkmark"></span>
							</label>
						</li>
						<li class="item">
							<label class="wrap-radio btn-theme">Авто
								<input type="radio" name="radio">
								<span class="checkmark"></span>
							</label>
		    			</li>
		    		</ul>
		    	</div>
		    	<a href="#" class="menu-link">
		    		<span class="wrap">
			    		<svg class="svg-icon icon"><use xlink:href='#icon-help'/></svg>
			    		<span class="text">Помощь</span>
		    		</span>
		    	</a>
		    	<a href="#" class="menu-link">
		    		<span class="wrap">
			    		<img src="images/svg/colore/abuse.svg" class="icon" alt="icon">
			    		<span class="text">Жалоба/Abuse</span>
		    		</span>
		    	</a>
		    </div>
		    <div class="premium-box">
		    	<div class="wrap">
		    		<div class="circle-decor">
		    			<div class="left-top box-img">
		    				<img src="images/circle-left-top.png" alt="avatar" class="img">
		    			</div>
		    			<div class="right-top box-img">
		    				<img src="images/circle-right-top.png" alt="avatar" class="img">
		    			</div>
		    			<div class="bottom-left box-img">
		    				<img src="images/circle-left-bottom.png" alt="avatar" class="img">
		    			</div>
		    			<div class="bottom-right box-img">
		    				<img src="images/circle-right-bottom.png" alt="avatar" class="img">
		    			</div>
		    			<div class="inner">
		    				<div class="center wrap-img">
		    					<img src="images/circle-center.png" alt="avatar" class="img">
		    				</div>
		    				<svg class="svg-icon star star-top-right"><use xlink:href='#icon-star-decor'/></svg>
		    				<svg class="svg-icon star-bottom-right"><use xlink:href='#icon-star-decor'/></svg>
		    			</div>
		    			<img src="images/svg/colore/premium-icon.svg" alt="avatar" class="diamond">
		    		</div>

		    		<div class="glitch-text">
						<div class="top-text">Подписку</div>
						<div class="top-text">Оформи <div class="bottom-text">PREMIUM</div></div>
					</div>

		    		<div class="text-premium">
		    			<div class="top-text">и открой <span class="color">полный доступ</span></div>
		    			— без лимитов и преград!
		    			<svg class="svg-icon star"><use xlink:href='#icon-star-decor'/></svg>
		    		</div>
			    	<a href="#" class="btn-primary">
			    		Попробовать
			    		<span class="uppercase">PREMIUM</span>
			    	</a>
		    	</div>
		    </div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="js/assets.js"></script>
	<script src="js/main.js"></script>

	{{> icons}}
</body>
</html>