<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{pageTitle}}</title>
	<link rel="stylesheet" type="text/css" href="css/ion.range-slider.min.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/select2.min.css" media="all">
  <link rel="stylesheet" type="text/css" href="css/cropper.min.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/all.css" media="all">
</head>

<body>
	<div class="wrapper {{pageClass}}">
		<div class="header">
			<div class="container-lg">
				<div class="header-holder">
					<div class="left-holder">
						<div class="btn-menu">
							<span></span>
						    <span></span>
						    <span></span>
						    <div class="dot-indicator"></div>
						</div>
						<div class="logo-holder">
							<a href="#" class="logo">
                <img src="images/logo.svg" alt="logo" class="logo-dark">
                <img src="images/logo-light.svg" alt="logo" class="logo-light">
							</a>
						</div>
					</div>

					<div class="center-holder">
						<div class="header-bar">
							<div class="search-holder">
								<form class="search-form" id="search_form" action="#">
									<div class="search-text">
										<input id="searchInput" class="input-search awesomplete" type="text" name="q" placeholder="Введите...">
										<div id="autocompleteDropdown" class="autocomplete-dropdown">
											<div class="autocomplete-item category-video">
												<div class="category-title">
													<svg class="svg-icon"><use xlink:href='#icon-video'/></svg>
													<div class="text">Видео</div>
												</div>
												<ul class="list">
													<li class="item">
														<a href="#" class="link">
															<span class="text js-text">Большая задница в чулках</span>
															<svg class="svg-icon"><use xlink:href='#icon-arrow-right'/></svg>
														</a>
													</li>
													<li class="item">
														<a href="#" class="link">
															<span class="text js-text">Люблю большие жопы на лице</span>
															<svg class="svg-icon"><use xlink:href='#icon-arrow-right'/></svg>
														</a>
													</li>
													<li class="item">
														<a href="#" class="link">
															<span class="text js-text">Сочная большая попа</span>
															<svg class="svg-icon"><use xlink:href='#icon-arrow-right'/></svg>
														</a>
													</li>
													<li class="item">
														<a href="#" class="link">
															<span class="text js-text">У него был большой член</span>
															<svg class="svg-icon"><use xlink:href='#icon-arrow-right'/></svg>
														</a>
													</li>
												</ul>
											</div>
											<div class="autocomplete-item category-categories">
												<div class="category-title">
													<svg class="svg-icon"><use xlink:href='#icon-category'/></svg>
													<div class="text">Категории</div>
												</div>
												<ul class="list">
													<li class="item">
														<a href="#" class="btn">
															<span class="js-text">Большие жопы</span>
														</a>
													</li>
													<li class="item">
														<a href="#" class="btn">
															<span class="js-text">Большие сиськи</span>
														</a>
													</li>
													<li class="item">
														<a href="#" class="btn">
															<span class="js-text">Большие члены</span>
														</a>
													</li>
												</ul>
											</div>
											<div class="autocomplete-item category-models">
												<div class="category-title">
													<svg class="svg-icon"><use xlink:href='#icon-models'/></svg>
													<div class="text">Модели</div>
												</div>

												<ul class="list">
													<li class="item">
														<a href="#" class="btn">
															<div class="avatar">
													    		<img src="images/temp/ava-sm.jpg" alt="avatar">
													    	</div>
															<span class="name js-text">SolaZola Б</span>
														</a>
													</li>
													<li class="item">
														<a href="#" class="btn">
															<div class="avatar">
													    		<svg class="svg-icon"><use xlink:href='#icon-user2'/></svg>
													    	</div>
															<span class="name js-text">Vanna Bardot Б</span>
														</a>
													</li>
													<li class="item">
														<a href="#" class="btn">
															<div class="avatar">
													    		<img src="images/temp/ava-sm.jpg" alt="avatar">
													    	</div>
															<span class="name js-text">Lucia Shatson Б</span>
														</a>
													</li>
													<li class="item">
														<a href="#" class="btn">
															<div class="avatar">
													    		<svg class="svg-icon"><use xlink:href='#icon-user2'/></svg>
													    	</div>
															<span class="name js-text">Emilia Cunt Б</span>
														</a>
													</li>
													<li class="item">
														<a href="#" class="btn">
															<div class="avatar">
													    		<img src="images/temp/ava-sm.jpg" alt="avatar">
													    	</div>
															<span class="name js-text">Bimbina Barlow Б</span>
														</a>
													</li>
												</ul>
											</div>
											<div class="autocomplete-item category-users">
												<div class="category-title">
													<svg class="svg-icon"><use xlink:href='#icon-users'/></svg>
													<div class="text">Пользователи</div>
												</div>
												<ul class="list">
													<li class="item">
														<a href="#" class="link">
															<div class="avatar">
													    		<img src="images/temp/ava-sm.jpg" alt="avatar">
													    		<div class="online"></div>
													    	</div>
													    	<div class="name js-text">Pusik488 Б</div>
														</a>
													</li>
													<li class="item">
														<a href="#" class="link">
															<div class="avatar">
													    		<svg class="svg-icon"><use xlink:href='#icon-user2'/></svg>
													    		<div class="online offline"></div>
													    	</div>
													    	<div class="name js-text">Angelina 33 Б</div>
														</a>
													</li>
													<li class="item">
														<a href="#" class="link">
															<div class="avatar">
													    		<img src="images/temp/ava-sm.jpg" alt="avatar">
													    		<div class="online"></div>
													    	</div>
													    	<div class="name js-text">Puma14 Б</div>
														</a>
													</li>
													<li class="item">
														<a href="#" class="link">
															<div class="avatar">
													    		<img src="images/temp/ava-sm.jpg" alt="avatar">
													    		<div class="online"></div>
													    	</div>
													    	<div class="name js-text">88Anna88 Б</div>
														</a>
													</li>
													<li class="item">
														<a href="#" class="link">
															<div class="avatar">
													    		<img src="images/temp/ava-sm.jpg" alt="avatar">
													    		<div class="online"></div>
													    	</div>
													    	<div class="name js-text">3apa3a Б</div>
														</a>
													</li>
													<li class="item">
														<a href="#" class="link">
															<div class="avatar">
													    		<img src="images/temp/ava-sm.jpg" alt="avatar">
													    		<div class="online offline"></div>
													    	</div>
													    	<div class="name js-text">Ttvoya me4ta Б</div>
														</a>
													</li>
													<li class="item">
														<a href="#" class="link">
															<div class="avatar">
													    		<img src="images/temp/ava-sm.jpg" alt="avatar">
													    		<div class="online"></div>
													    	</div>
													    	<div class="name js-text">Brilliantt Gloria Б</div>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<button class="search-btn search-button js-search">
											<svg class="svg-icon"><use xlink:href='#icon-search'/></svg>
										</button>
									</div>
									<button type="button" class="close-search">
										<svg class="svg-icon"><use xlink:href='#icon-close'/></svg>
									</button>
								</form>
							</div>
							<div class="main-nav">
								<ul class="top-menu">
									<li class="item-menu">
										<a href="#" class="link active">
											<svg class="svg-icon"><use xlink:href='#icon-home'/></svg>
											<span class="text">Главная</span>
										</a>
									</li>
									<li class="item-menu">
										<a href="#" class="link">
											<svg class="svg-icon"><use xlink:href='#icon-category'/></svg>
											<span class="text">Категории</span>
										</a>
									</li>
									<li class="item-menu">
										<a href="#" class="link">
											<svg class="svg-icon mod"><use xlink:href='#icon-models'/></svg>
											<span class="text">Модели</span>
										</a>
									</li>
									<li class="item-menu">
										<a href="#" class="link">
											<svg class="svg-icon com"><use xlink:href='#icon-community'/></svg>
											<span class="text">Сообщество</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="right-holder">
						<div class="user-logged">
					    	<div class="avatar">
					    		<!-- is avatar -->
					    			<img src="images/temp/ava-sm.jpg" alt="avatar">
					    		<!-- is avatar -->

					    		<!-- no avatar -->
					    		<!-- <svg class="svg-icon"><use xlink:href='#icon-user2'/></svg> -->
					    		<!-- no avatar -->

					    		<div class="online"></div>
					    	</div>
					    	<div class="name">maxpower</div>
					    	<div class="wrap-img">
					    		<img src="images/svg/colore/premium-icon.svg" alt="icon">
					    		<img src="images/svg/colore/check.svg" alt="icon">
					    	</div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="container">
