<div class="pagination-holder">
	<ul class="pagination">
		<li class="item prev">
			<span class="btn">
				<img src="images/svg/colore/pag-right.svg" class="arrow-left" alt="icon">
			</span>
		</li>
		<li class="item page-current">
			<span class="btn active">1</span>
		</li>
		<li class="item page">
			<a class="btn" href="#">2</a>
		</li>
		<li class="item page">
			<a class="btn" href="#">3</a>
		</li>
		<li class="item page">
			<a class="btn" href="#">4</a>
		</li>
		<li class="item page">
			<a class="btn" href="#">5</a>
		</li>
		<li class="item jump">
			<a class="btn" href="#">...</a>
		</li>
		<li class="item next">
			<a class="btn" href="#">
				<img src="images/svg/colore/pag-right.svg" class="icon" alt="icon">
			</a>
		</li>
	</ul>
</div>