<div class="popup open">
	<div class="popup-content">
		<div class="cols">
			<div class="col-left col">
				<div class="circle-decor">
	    			<div class="left-top box-img">
	    				<img src="images/circle-left-top-lg.png" alt="avatar" class="img">
	    			</div>
	    			<div class="right-top box-img">
	    				<img src="images/circle-right-top-lg.png" alt="avatar" class="img">
	    			</div>
	    			<div class="bottom-left box-img">
	    				<img src="images/circle-left-bottom-lg.png" alt="avatar" class="img">
	    			</div>
	    			<div class="bottom-right box-img">
	    				<img src="images/circle-right-bottom-lg.png" alt="avatar" class="img">
	    			</div>
	    			<div class="inner">
	    				<div class="center wrap-img">
	    					<img src="images/circle-center-lg.png" alt="avatar" class="img">
	    				</div>
	    			</div>
	    		</div>
				<div class="glitch-text">
					<div class="top-text">Регистрируйся</div>
					<div class="bottom-text">и ты сможешь</div>
				</div>
				<ul class="custom-list">
					<li class="item">
						<img src="images/svg/colore/custom-icon1.svg" alt="icon" class="icon">
						<div class="text">Переписываться с друзьями в чате</div>
					</li>
					<li class="item">
						<img src="images/svg/colore/custom-icon2.svg" alt="icon" class="icon icon2">
						<div class="text">Находить новые знакомства</div>
					</li>
					<li class="item">
						<img src="images/svg/colore/custom-icon3.svg" alt="icon" class="icon">
						<div class="text">Загружать собственные  видео</div>
					</li>
					<li class="item">
						<img src="images/svg/colore/custom-icon4.svg" alt="icon" class="icon icon4">
						<div class="text">Собирать свою коллекцию порно</div>
					</li>
				</ul>
				<div class="logo-holder">
					<a href="#" class="logo">
            <img src="images/logo.svg" alt="logo" class="logo-dark">
            <img src="images/logo-light.svg" alt="logo" class="logo-light">
					</a>
				</div>
			</div>
			<div class="col-right col">
				<div class="inner-box">
					<button type="button" class="popup-close">
						<svg class="svg-icon"><use xlink:href='#icon-close'/></svg>
					</button>

					<div class="row">
						<div class="popup-title">Регистрация</div>
						<div class="sup-text">Уже есть аккаунт? <a href="#" class="link">Войти</a></div>
					</div>
					<form class="form-group row">

						<div class="row">
					       <div class="wrap-input">
					       		<input type="text" placeholder="Логин" class="input">
					       </div>

					       <div class="cols-3">
					       		<div class="column">
						       		<select class="selectbox" style="width: 100%;" data-placeholder="Пол">
										<option value=""></option>
										<option value="BER">Мужской</option>
										<option value="MAD">Женский</option>
										<option value="LIS">Пара</option>
									</select>
					       		</div>
					       		<div class="column">
					       			<select class="selectbox" id="country-id" style="width: 100%;">
										<option value="" data-img="images/flags/world.svg">Страна</option>
										<option value="DE" data-img="images/flags/de.jpg"> Германия</option>
										<option value="ES" data-img="images/flags/es.jpg">Испания</option>
										<option value="PT" data-img="images/flags/pt.jpg">Португалия</option>
										<option value="US" data-img="images/flags/us.jpg">США</option>
										<option value="DE" data-img="images/flags/de.jpg">Германия</option>
										<option value="ES" data-img="images/flags/es.jpg">Испания</option>
										<option value="PT" data-img="images/flags/pt.jpg">Португалия</option>
										<option value="US" data-img="images/flags/us.jpg">США</option>
										<option value="DE" data-img="images/flags/de.jpg">Германия</option>
									</select>
					       		</div>
					       		<div class="column">
					       			<div class="wrap-input">
							       		<input type="number" placeholder="Возраст" class="input" min="0" max="100">
							       </div>
					       		</div>
					       </div>

					       <div class="wrap-input">
					       		<input type="email" placeholder="Эл.почта" class="input">
					       </div>

					       <div class="wrap-input input-pass">
					       		<input type="password" placeholder="Пароль" class="input">
					       		<button type="button" class="btn-view">
					       			<svg class="svg-icon icon-non-eye"><use xlink:href='#icon-no-view'/></svg>
					       		</button>
					       </div>

					       <div class="wrap-input input-pass">
					       		<input type="password" placeholder="Повторите пароль" class="input">
					       		<button type="button" class="btn-view">
					       			<svg class="svg-icon icon-non-eye"><use xlink:href='#icon-no-view'/></svg>
					       		</button>
					       </div>
						</div>

						<div class="row">
							<label class="wrap-checkbox">Я согласен с <a href="#" class="link usage-conditions">Условиями использования</a> и <a href="#" class="link privacy-policy">политикой конфиденциальности</a>
								<input type="checkbox" checked="checked">
								<span class="checkmark"></span>
							</label>
						</div>

						<div class="row">
							<img src="images/temp/recaptcha.png" alt="recaptcha" style="width: 100%;">
						</div>

						<div class="row">
							<button type="submit" class="btn-primary">Создать аккаунт</button>
						</div>
					</form>

					<div class="row">
						<div class="footer-text">
							<div class="text">Copyright &copy; | 2025</div>
							<div class="text">Все права защищены</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>