<div class="popup open">
	<div class="popup-content login">
		<div class="inner-box">
			<button type="button" class="popup-close">
				<svg class="svg-icon"><use xlink:href='#icon-close'/></svg>
			</button>

			<div class="row">
				<div class="popup-title">Вход</div>
				<div class="sup-text">Нет аккаунта? <a href="#" class="link">Зарегистрироваться</a></div>
			</div>
			<form class="form-group row">

				<div class="row">
			       <div class="wrap-input">
			       		<input type="text" placeholder="Логин" class="input">
			       </div>

			       <div class="wrap-input input-pass">
			       		<input type="password" placeholder="Пароль" class="input">
			       		<button type="button" class="btn-view">
			       			<svg class="svg-icon icon-non-eye"><use xlink:href='#icon-no-view'/></svg>
			       		</button>
			       </div>
				</div>

				<div class="row">
					<div class="cols-2">
						<label class="wrap-checkbox">Запомнить меня 
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>
						<a href="#" class="link">Забыли пароль?</a>
					</div>
				</div>

				<div class="row">
					<img src="images/temp/recaptcha.png" alt="recaptcha" style="width: 100%;">
				</div>

				<div class="row">
					<button type="submit" class="btn-primary">Войти</button>
				</div>
			</form>

			<div class="row">
				<div class="footer-text">
					<div class="text">Copyright &copy; | 2025</div>
					<div class="text">Все права защищены</div>
				</div>
			</div>
		</div>
	</div>
</div>