<div class="items-list margin-fix items-list-vertical">
	{{#repeat 6}}
		<div class="item item-vertical">
			<a href="#" class="thumb-wrap">
				<span class="img-holder">
					<img src="images/temp/vertical-thumb1.jpg" class="thumb" alt="img">
          <span class="img-flag">
            <img src="images/flags/luxembourg.jpg" alt="luxembourg">
          </span>
				</span>
				<span class="title-item">
					<span class="title-text">Jenny Lux</span>
					<span class="info">
						<span class="quantity positive">
							<svg class="svg-icon"><use xlink:href='#icon-heart-thumb'/></svg>
							<span class="text">91%</span>
						</span>
						<span class="quantity">
							<svg class="svg-icon icon-eye"><use xlink:href='#icon-video-thumb'/></svg>
							<span class="text">24</span>
						</span>
					</span>
				</span>
			</a>
		</div>
		<div class="item item-vertical">
			<a href="#" class="thumb-wrap">
				<span class="img-holder">
					<img src="images/temp/vertical-thumb2.jpg" class="thumb" alt="img">
          <span class="img-flag">
            <img src="images/flags/luxembourg.jpg" alt="luxembourg">
          </span>
				</span>
				<span class="title-item">
					<span class="title-text">Cherry Kiss</span>
					<span class="info">
						<span class="quantity positive">
							<svg class="svg-icon"><use xlink:href='#icon-heart-thumb'/></svg>
							<span class="text">78%</span>
						</span>
						<span class="quantity">
							<svg class="svg-icon icon-eye"><use xlink:href='#icon-video-thumb'/></svg>
							<span class="text">100</span>
						</span>
					</span>
				</span>
			</a>
		</div>
		<div class="item item-vertical">
			<a href="#" class="thumb-wrap">
				<span class="img-holder">
					<img src="images/temp/vertical-thumb1.jpg" class="thumb" alt="img">
          <span class="img-flag">
            <img src="images/flags/luxembourg.jpg" alt="luxembourg">
          </span>
				</span>
				<span class="title-item">
					<span class="title-text">Aften Opal</span>
					<span class="info">
						<span class="quantity positive">
							<svg class="svg-icon"><use xlink:href='#icon-heart-thumb'/></svg>
							<span class="text">100%</span>
						</span>
						<span class="quantity">
							<svg class="svg-icon icon-eye"><use xlink:href='#icon-video-thumb'/></svg>
							<span class="text">92</span>
						</span>
					</span>
				</span>
			</a>
		</div>
		<div class="item item-vertical">
			<a href="#" class="thumb-wrap">
				<span class="img-holder">
					<img src="images/temp/vertical-thumb2.jpg" class="thumb" alt="img">
          <span class="img-flag">
            <img src="images/flags/luxembourg.jpg" alt="luxembourg">
          </span>
				</span>
				<span class="title-item">
					<span class="title-text">SolaZola</span>
					<span class="info">
						<span class="quantity positive">
							<svg class="svg-icon"><use xlink:href='#icon-heart-thumb'/></svg>
							<span class="text">64%</span>
						</span>
						<span class="quantity">
							<svg class="svg-icon icon-eye"><use xlink:href='#icon-video-thumb'/></svg>
							<span class="text">9</span>
						</span>
					</span>
				</span>
			</a>
		</div>
	{{/repeat}}
</div>