<div class="items-list vertical-thumbs vertical-subscribers margin-fix">
	{{#repeat 4}}
		<div class="item">
			<a href="#" class="thumb-wrap">
				<span class="img-holder">
					<img src="images/temp/vertical-thumb1.jpg" class="thumb" alt="img">
					<span class="flag">
						<img src="images/flags/pt.jpg" alt="flag">
					</span>
				</span>
				<span class="title-item">
					<span class="title-text">SolaZola</span>
					<span class="info">
						<span class="quantity positive">
							<svg class="svg-icon"><use xlink:href='#icon-heart-thumb'/></svg>
							<span class="text">91%</span>
						</span>
						<span class="quantity">
							<svg class="svg-icon"><use xlink:href='#icon-video-thumb'/></svg>
							<span class="text">97</span>
						</span>
					</span>
				</span>
			</a>
			<div class="wrap-suscribe">
				<a href="#" class="btn btn-suscribe">
					<svg class="svg-icon"><use xlink:href='#icon-no-heart'/></svg>
					<span class="text">Отписаться</span>
				</a>
			</div>
		</div>
		<div class="item">
			<a href="#" class="thumb-wrap">
				<span class="img-holder">
					<img src="images/temp/vertical-thumb2.jpg" class="thumb" alt="img">
					<span class="flag">
						<img src="images/flags/es.jpg" alt="flag">
					</span>
				</span>
				<span class="title-item">
					<span class="title-text">Aften Opal</span>
					<span class="info">
						<span class="quantity positive">
							<svg class="svg-icon"><use xlink:href='#icon-heart-thumb'/></svg>
							<span class="text">91%</span>
						</span>
						<span class="quantity">
							<svg class="svg-icon"><use xlink:href='#icon-video-thumb'/></svg>
							<span class="text">186</span>
						</span>
					</span>
				</span>
			</a>
			<div class="wrap-suscribe">
				<a href="#" class="btn btn-suscribe">
					<svg class="svg-icon"><use xlink:href='#icon-no-heart'/></svg>
					<span class="text">Отписаться</span>
				</a>
			</div>
		</div>
		<div class="item">
			<a href="#" class="thumb-wrap">
				<span class="img-holder">
					<svg class="svg-icon no-image"><use xlink:href='#icon-no-img'/></svg>
					<span class="flag">
						<img src="images/flags/us.jpg" alt="flag">
					</span>
				</span>
				<span class="title-item">
					<span class="title-text">Candie Luciani</span>
					<span class="info">
						<span class="quantity positive">
							<svg class="svg-icon"><use xlink:href='#icon-heart-thumb'/></svg>
							<span class="text">91%</span>
						</span>
						<span class="quantity">
							<svg class="svg-icon"><use xlink:href='#icon-video-thumb'/></svg>
							<span class="text">186</span>
						</span>
					</span>
				</span>
			</a>
			<div class="wrap-suscribe">
				<a href="#" class="btn btn-suscribe">
					<svg class="svg-icon"><use xlink:href='#icon-no-heart'/></svg>
					<span class="text">Отписаться</span>
				</a>
			</div>
		</div>
	{{/repeat}}
</div>
