<div class="items-list margin-fix">
	{{#repeat 3}}
		<div class="item">
			<a href="#" class="thumb-wrap">
				<span class="img-holder">
					<img src="images/temp/thumb1.jpg" class="thumb" alt="img">
					<span class="duration">39:24</span>
					<span class="viewed-wrap">
						<span class="viewed-text">Просмотрено</span>
					</span>
          <span class="favorite-wrap">
            <span class="btn btn-favourites btn-remove">
              <svg class="svg-icon"><use xlink:href='#icon-delete'/></svg>
              Удалить
            </span>
          </span>

				</span>
				<span class="title-item">
					<span class="title-text">Дилдо репетиция перед мясным апгрейдом</span>
					<span class="info">
						<span class="quantity positive">
							<svg class="svg-icon"><use xlink:href='#icon-heart-thumb'/></svg>
							<span class="text">91%</span>
						</span>
						<span class="quantity center">
							<svg class="svg-icon"><use xlink:href='#icon-calendar'/></svg>
							<span class="text">Вчера</span>
						</span>
						<span class="quantity">
							<svg class="svg-icon icon-eye"><use xlink:href='#icon-view'/></svg>
							<span class="text">2.4к</span>
						</span>
					</span>
				</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="thumb-wrap premium-thumb">
				<span class="img-holder">
					<img src="images/temp/thumb4.jpg" class="thumb" alt="img">
					<span class="duration">41:11</span>
					<span class="premium-badge">
						<img src="images/svg/colore/premium-icon.svg" class="icon" alt="icon">
						<span class="text">Premium</span>
					</span>
          <span class="favorite-wrap">
            <span class="btn btn-favourites">
              <svg class="svg-icon"><use xlink:href='#icon-star'/></svg>
            </span>
          </span>
				</span>
				<span class="title-item">
					<span class="title-text">Горничная с пылесосом душит тоску...Эпизод второй</span>
					<span class="info">
						<span class="quantity positive">
							<svg class="svg-icon"><use xlink:href='#icon-heart-thumb'/></svg>
							<span class="text">78%</span>
						</span>
						<span class="quantity center">
							<svg class="svg-icon"><use xlink:href='#icon-calendar'/></svg>
							<span class="text">Неделю назад</span>
						</span>
						<span class="quantity">
							<svg class="svg-icon icon-eye"><use xlink:href='#icon-view'/></svg>
							<span class="text">100к</span>
						</span>
					</span>
				</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="thumb-wrap">
				<span class="img-holder">
					<img src="images/temp/thumb3.jpg" class="thumb" alt="img">
					<span class="duration">15:47</span>
          <span class="favorite-wrap">
            <span class="btn btn-favourites">
              <svg class="svg-icon"><use xlink:href='#icon-star'/></svg>
            </span>
          </span>
				</span>
				<span class="title-item">
					<span class="title-text">Её стоны разбудили соседей когда я драл её на родительской кровати</span>
					<span class="info">
						<span class="quantity positive">
							<svg class="svg-icon"><use xlink:href='#icon-heart-thumb'/></svg>
							<span class="text">100%</span>
						</span>
						<span class="quantity center">
							<svg class="svg-icon"><use xlink:href='#icon-calendar'/></svg>
							<span class="text">10 месяцев назад</span>
						</span>
						<span class="quantity">
							<svg class="svg-icon icon-eye"><use xlink:href='#icon-view'/></svg>
							<span class="text">92.9к</span>
						</span>
					</span>
				</span>
			</a>
		</div>
		<div class="item">
			<a href="#" class="thumb-wrap premium-thumb">
				<span class="img-holder">
					<img src="images/temp/thumb2.jpg" class="thumb" alt="img">
					<span class="duration">22:10</span>
					<span class="viewed-wrap">
						<span class="viewed-text">Просмотрено</span>
					</span>
					<span class="premium-badge">
						<img src="images/svg/colore/premium-icon.svg" class="icon" alt="icon">
						<span class="text">Premium</span>
					</span>
          <span class="favorite-wrap">
            <span class="btn btn-favourites">
              <svg class="svg-icon"><use xlink:href='#icon-star'/></svg>
            </span>
          </span>
				</span>
				<span class="title-item">
					<span class="title-text">О чём говорить когда охота трахаться?</span>
					<span class="info">
						<span class="quantity positive">
							<svg class="svg-icon"><use xlink:href='#icon-heart-thumb'/></svg>
							<span class="text">64%</span>
						</span>
						<span class="quantity center">
							<svg class="svg-icon"><use xlink:href='#icon-calendar'/></svg>
							<span class="text">1 месяц назад</span>
						</span>
						<span class="quantity">
							<svg class="svg-icon icon-eye"><use xlink:href='#icon-view'/></svg>
							<span class="text">9к</span>
						</span>
					</span>
				</span>
			</a>
		</div>
	{{/repeat}}
</div>