<div class="items-list user-thumbs vertical-thumbs margin-fix">
	{{#repeat 2}}
		<div class="item">
			<a href="#" class="thumb-wrap">
				<span class="img-holder">
					<img src="images/temp/vertical-thumb1.jpg" class="thumb" alt="img">
					<span class="online"></span>
					<span class="brand">
						<img src="images/svg/colore/s-room.svg" alt="brand">
					</span>

					<span class="title-item blur-item">
						<span class="title-text">
							<span class="text">vikamurmur</span>
							<div class="wrap-img">
					    		<img src="images/svg/colore/premium-icon.svg" alt="icon">
					    		<img src="images/svg/colore/check.svg" alt="icon">
					    	</div>
						</span>
						<span class="info">
							<span class="wrap-quantity">
								<span class="flag">
									<img src="images/flags/de.jpg" alt="flag">
								</span>
								<svg class="svg-icon icon female"><use xlink:href='#icon-female'/></svg>
								<span class="text">19 лет</span>
							</span>
							<span class="quantity">
								<svg class="svg-icon"><use xlink:href='#icon-video-thumb'/></svg>
								<span class="text">21</span>
							</span>
						</span>
					</span>
				</span>
			</a>
		</div>

		<div class="item">
			<a href="#" class="thumb-wrap">
				<span class="img-holder">
					<img src="images/temp/vertical-thumb2.jpg" class="thumb" alt="img">
					<span class="online offline"></span>

					<span class="title-item blur-item">
						<span class="title-text">
							<span>Pusik488</span>
							<div class="wrap-img">
					    		<img src="images/svg/colore/premium-icon.svg" alt="icon">
					    		<img src="images/svg/colore/check.svg" alt="icon">
					    	</div>
						</span>
						<span class="info">
							<span class="wrap-quantity">
								<span class="flag">
									<img src="images/flags/pt.jpg" alt="flag">
								</span>
								<svg class="svg-icon icon male"><use xlink:href='#icon-male'/></svg>
								<span class="text">22 года</span>
							</span>
							<span class="quantity">
								<svg class="svg-icon"><use xlink:href='#icon-video-thumb'/></svg>
								<span class="text">750</span>
							</span>
						</span>
					</span>
				</span>
			</a>
		</div>
	{{/repeat}}
</div>
