

.light-theme {
  .email-confirmation {
    &-title {
      color: #6F7173;
    }

    &-text {
      color: #6F7173;
    }

    &-timer {
      color: #FD1313;
    }

    .btn-primary {
      background: #FFF;
      color: #9BA5AE;
    }
  }
}

.light-theme {
	background: #FFF;
	color: #9BA5AE;

	.close-search {
		color: unset;
	}

	.autocomplete-dropdown {
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), rgba(0, 0, 0, 0.35);
		box-shadow: 0 100px 80px 0 rgba(0, 0, 0, 0.34);

	}

	.category-categories {
		.btn {
      background: rgba(0, 0, 0, 0.20);

      @media(hover: hover) and (pointer: fine){
        &:hover{
          background: rgba(255, 255, 255, 0.20);
        }
      }
    }
  }

	.thumb-wrap .positive {
		color: #FF7133;
	}

	.premium-box {
		.wrap {
			background: white !important;

			.glitch-text .top-text {
				color: #6F7173;
			}
			.text-premium {
				.top-text{
					color: #6F7173;
				}
				color: #6F7173;
			}
		}


	}

	.tags-block {
		.title-letter {
			background: linear-gradient(90deg, rgba(255, 171, 2, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
			border: 1px solid linear-gradient(90deg, rgba(255, 171, 2, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);



		}
		.title-letter::after {
			color: rgba(253, 183, 19, 0.13);
		}
		.title-letter::before{
      background: linear-gradient(90deg, rgba(255, 171, 2, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
		}

		.link {

			border: 1px solid transparent;

			@media(hover: hover) and (pointer: fine){
				&:hover{
					background: rgba(155, 165, 174, 0.12);
					border: 1px solid rgba(111, 113, 115, 0.1);
				}
			}
		}
	}

	.login {
		.footer-text .text {
			color: white;
		}

		.forget-pass {
			color: white;
		}
	}

	.popup {
		background: rgba(18, 17, 20, 0.30);
	}

	.inner-box {
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), rgba(0, 0, 0, 0.35);
	}

	.privacy-policy , .usage-conditions {
		color: white;
	}

	// SINGLE MODEL PAGE

	.model-block {

		&__title {
			color: #6F7173;

			&::before {
				color: rgba(111, 113, 115, 0.03);
			}
		}

		&__subscribers {
			background: rgba(105, 105, 105, 0.10);
			border: 1px solid rgba(56, 56, 56, 0.05);
			color: #9BA5AE;

			strong {
				color: #6F7173;
			}


		}
		.model-block__info-item {
			color: #6F7173;
		}
		.model-block__subscribe {
			color: #FDB713;
		}
		.model-block__social {
			border: 1px solid rgba(56, 56, 56, 0.05);
			background: rgba(105, 105, 105, 0.10);
		}
	}

	.model-block__photos {
		filter: unset;

	}

	// VIDEO PAGE

	.block-video {
		.label-title {
			color: #6F7173;
		}

		.models-list .btn, .btn-list .btn {
			background: #F7F7F7;

			.name {
				color: #6F7173;

			}

			@media(hover: hover) and (pointer: fine){
				&:hover{
					color: inherit;
				}
			}
		}
	}

	.comments-section {
		.textarea-holder .textarea {
			border: 1px solid rgba(56, 56, 56, 0.05);
			background: rgba(226, 232, 238, 0.50);
		}

		.comments-text {
			color: #77838E;
		}

		.comments-heading .name {
			color: #6F7173;
		}

		.comments-actions .js-btn-comment {
			@media(hover: hover) and (pointer: fine){
				&:hover{
					color: inherit;
				}
			}
		}

		.js-replies {
			@media(hover: hover) and (pointer: fine){
				&:hover{
					color: inherit;
				}
				&::before {
					background: #838383;
				}
			}
		}
		.pagination-holder .btn{
			background: #F7F7F7;
		}
	}

	// COMPLAINT POPUP

	.complaint-popup {
		border: 1px solid rgba(56, 56, 56, 0.05);
		background: rgba(255, 255, 255, 0.80);
		box-shadow: 0 100px 80px 0 rgba(0, 0, 0, 0.07), 0 41.778px 33.422px 0 rgba(0, 0, 0, 0.05), 0 22.336px 17.869px 0 rgba(0, 0, 0, 0.04), 0 12.522px 10.017px 0 rgba(0, 0, 0, 0.04), 0 6.65px 5.32px 0 rgba(0, 0, 0, 0.03), 0 2.767px 2.214px 0 rgba(0, 0, 0, 0.02);
		backdrop-filter: blur(50px);

		color: #6F7173;

		.popup-close {
			fill: rgba(111, 113, 115, 1);
		}

		.field-label, .wrap-radio {
			color: #6F7173;
		}

		.wrap-radio input:checked ~ .checkmark {
			border-color: white;
		}

		.wrap-radio .checkmark {
			border-color: #6F7173;
		}

		.block-textarea {
			#flag_message {
				border: 1px solid rgba(255, 255, 255, 0.05);
				background: rgba(255, 255, 255, 0.50);
			}
		}

		.btn-primary {
			@media(hover: hover) and (pointer: fine){
				&:hover{
					background: #fdb714;
					color: #fff;
				}
			}
		}
	}

	// VIDEO PREMIUM

	.block-video-premium {
		.right-column {
			border: 1px solid rgba(56, 56, 56, 0.05);
			background: rgba(226, 232, 238, 0.80);

			.premium-top-text {
				color: #6F7173;
			}

			.premium-bottom-text {
				color: #9BA5AE;
			}
		}

		.block-discount {
			border: 1px solid rgba(56, 56, 56, 0.15);
			background: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, rgba(155, 165, 174, 0.30) 100%);

			.new-price .bold, .total-price, .old-price {
				color: #6F7173;
			}
		}

		.block-radios.first {
      .wrap-radio {
        color: #6F7173;

        .bg {
          color: #9BA5AE;
          opacity: .1;
        }

        .checkmark {
          border: 1px solid rgba(56, 56, 56, 0.15);
          background: rgba(255, 255, 255, 0.60);
        }

        &.decor-wrap {
          .checkmark {
            background: #E5E5E5;
          }
        }
      }
    }

		.block-radios.second .wrap-radio {
			border: 1px solid rgba(56, 56, 56, 0.15);
			background: rgba(255, 255, 255, 0.60);
			color: #6F7173;

			.checkmark {
				border-color: #6F7173;
				background: white;
			}

		}

		.list .item .name {
			color: #6F7173;
		}

		.list .item .svg-icon {
			color: rgba(0, 211, 106, 1);
		}

		.btn-primary {
			@media(hover: hover) and (pointer: fine){
				&:hover{
					background: #fdb714;
					color: #fff;
				}
			}
		}




	}

	// DATING

	.main-holder {
		.sliderbar {
			background: linear-gradient(0deg, rgba(244, 244, 244, 0.80) 0%, rgba(244, 244, 244, 0.80) 100%), rgba(255, 255, 255, 0.01);
			backdrop-filter: blur(50px);
		}

		.form-group {
			border: 1px solid rgba(56, 56, 56, 0.05);
			background: rgba(218, 218, 218, 0.50);
		}

		.search-input {
			border: 1px solid rgba(56, 56, 56, 0.15);
			background: rgba(255, 255, 255, 0.50);
		}

		.sliderbar .row.row-search:before {
			background: rgba(111, 113, 115, 0.15);
		}

		.sliderbar .row.line {
			border-bottom: 1px solid rgba(111, 113, 115, 0.15);
		}

		.label-name {
			color: #6F7173;
		}
		.radio-box {
			background: #F7F7F7;
		}
		.sliderbar .radio-box .wrap-radio input:checked ~ .checkmark {
			background: #9BA5AE;
			color: #fff;
		}

		.range-slider-holder .irs--flat .irs-line {
			background: rgba(111, 113, 115, 0.15);
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered  {
			border: 1px solid rgba(56, 56, 56, 0.15);
			background: rgba(255, 255, 255, 0.50);
		}

		.row .btn-submit {
			border: 1px solid rgba(255, 255, 255, 0.05);
			background: linear-gradient(212deg, #FDB713 11.65%, #FFCA4E 87.55%);
			color: white;
			transition: unset;


			@media(hover: hover) and (pointer: fine){
				&:hover{
					background: linear-gradient(212deg, #FDB713 11.65%, #FFCA4E 87.55%);
					color: #fff;
					transition: unset;
				}
			}
		}


		.wrap-checkbox .checkmark {
			border: 1px solid rgba(56, 56, 56, 0.15);
			background: white;
		}

		.wrap-add-photo a {
			color: #6F7173;
		}

		.top-text, .bottom-text {
			color: #6F7173;
		}

		.text-premium {
			color: rgba(111, 113, 115, 0.8);
		}

		.star-top-left {
			fill: #6F7173;
		}

		.banner-filter {
			border: 1px solid rgba(255, 255, 255, 0.05);
			background: #F6F6F6;

      .circle-decor {
        background: linear-gradient(200deg, #FFE3A6 13.43%, rgba(255, 227, 166, 0.00) 87.86%);

        &::after {
          background: linear-gradient(197deg, #FFE3A6 0, rgba(255, 227, 166, .3) 10%);
        }
      }
		}

		.pagination-holder .btn {
			border: 1px solid rgba(56, 56, 56, 0.05);
			color: #6F7173;
			background: #F7F7F7;
		}
	}

	// USER PROFILE

	.profile-cols-3 {

		.col-left {
			border: 1px solid rgba(56, 56, 56, 0.05);
			background: linear-gradient(0deg, rgba(244, 244, 244, 0.40) 0%, rgba(244, 244, 244, 0.40) 100%), rgba(255, 255, 255, 0.01);
			backdrop-filter: blur(25px);
		}

		.buttons .btn {
			border: 1px solid rgba(155, 165, 174, 0.15);
			background: #9BA5AE;
		}

		.adv-block {
			border-top: 1px solid rgba(111, 113, 115, 0.15);

		}

		.adv-block .text {
			color: #6F7173;

		}
	}

	.col-main {
		.row-box {
			border-bottom: 1px solid rgba(111, 113, 115, 0.15);
		}
		.profile-title, .profile-content {
			color: #6F7173;
		}

		.models-list .btn {
			border: 1px solid rgba(56, 56, 56, 0.05);
			background: #F7F7F7;

			.name {
				color: #6F7173;
			}
		}

		.wrap-dropdown .js-dropdown {
			border: 1px solid rgba(56, 56, 56, 0.05);
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%), rgba(244, 244, 244, 0.80);
		}

		.row-publications {
			border: 1px solid rgba(56, 56, 56, 0.05);
			background: linear-gradient(0deg, rgba(244, 244, 244, 0.40) 0%, rgba(244, 244, 244, 0.40) 100%), rgba(255, 255, 255, 0.01);

			.name {
				color: #6F7173;
			}
			.time {
				color: #9BA5AE;
			}
			.user-text {
				color: #77838E;
			}

			.js-replies {
				@media(hover: hover) and (pointer: fine){
					&:hover{
						color: #FDB713;
					}
				}
			}
			.reload-wrap {

			}
		}
	}

  .tabs-menu .item-menu.open .btn {
    color: #B4B4B4;
    background: #fff;
  }

  .dropdown {
    background: rgba(255, 255, 255, 0.30);

    .text {
      color: #6F7173;
    }

    .col-right {
      color: #6F7173;
    }
  }

  .no-post {
    display: none;
  }

  .light-no-post {
    display: inline-block;
  }

  .btn {
    color: #B4B4B4;
    background: #fff;
  }

  .profile-cols-3 {
    .divider {
      background: rgba(111, 113, 115, 0.15);
    }

    .col-right {
      border: 1px solid rgba(56, 56, 56, 0.05);
      background: linear-gradient(0deg, rgba(244, 244, 244, 0.40) 0%, rgba(244, 244, 244, 0.40) 100%), rgba(255, 255, 255, 0.01);
    }

    .secret-room-block {
      border-radius: 24px;
      border: 1px solid rgba(255, 255, 255, 0.10);
      background: rgba(226, 232, 238, 0.80);

      .text,
      .input-link,
      .input-link::placeholder {
        color: #6F7173;
      }
    }
  }

	.col-right {
		.followers-btn {
			background: rgba(111, 113, 115, 0.05);

			.value {
				color: #6F7173;
			}
			.text {
				color: #9BA5AE;
			}
		}

		.title-box {
			color: #6F7173;
		}

		.personal-data .name, .personal-data .value {
			color: #6F7173;
		}

		.personal-data .value {
			background: rgba(111, 113, 115, 0.05);
		}

		.favorite-categories-wrap {
			border-top-color: rgba(111, 113, 115, 0.15);

			.list .btn {
				border: 1px solid rgba(56, 56, 56, 0.05);
				background: #F7F7F7;
				backdrop-filter: blur(50px);
			}
		}

	}

	// USER PROFILE NOT FILE

	// !! CHANGE CARDS IMG
	.model-block__subscribe {
		color: #FDB713;
	}

	.not-file-text {
		color: #6F7173;
	}

	// CHAT

	.chat-page {
		background: linear-gradient(0deg, rgba(244, 244, 244, 0.80) 0%, rgba(244, 244, 244, 0.80) 100%), rgba(255, 255, 255, 0.01)
	}

	.chat-sidebar__top {
		box-shadow: unset;
		background: inherit;
	}
	.chat-search {
		background: rgba(255, 255, 255, 0.50);
	}
	.chat-sidebar__bottom {
		background: inherit;
	}
	.chat-list__item {

		@media (hover: hover) and (pointer: fine){
			&:hover:not(.active){
				background: #E3E3E3;
			}
		}
	}
	.chat-list .active {
		background: #FDB713;



		.chat-contact {

			&__name {
				color: white;
			}

			&__counter {
				background: white;
				color: #FDB713;

			}

		}


	}
	.chat-contact {

		&__name {
			color: #6F7173;
		}
		&__counter {
			background: #FF4D00;
			color: white;
		}
		&__message {
			color: #9BA5AE;
		}
	}


	// PRICE POPUP

	.popup-price {
		background: url("../images/pricing_light_bg.jpg") no-repeat center/100% 100%;

		.popup-close {
			background: rgba(255, 255, 255, 0.5);
			color: #9BA5AE;
		}

		.popup-heading .top-text {
			color: #6F7173;
		}

		.wrap-radio {
			color: #6F7173;
		}

		.block-discount {

			.new-price .bold {
				color: #6F7173;
			}
			.total-price {
				color: #6F7173;
			}
		}

		.discount-badge {
			.old-price {
				color: #9BA5AE;
			}

		}

		.block-discount .list {
			.svg-icon {
				color: rgba(0, 211, 106, 1);
			}
			.name {
				color: #6F7173;
			}
		}


	}


  // BLOCK CONFIRMATION
  .block-confirmation {
    .subscription-card {
      border: 1px solid rgba(255, 255, 255, 0.15);
      background: rgba(255, 255, 255, 0.60);
    }

    .subscription-card__back {
      .svg-icon {
        color: #9BA5AE;
      }
    }

    .subscription-card__title {
      color: #6F7173;
    }

    .subscription-card__period {
      color: #9BA5AE;
    }

    .subscription-card__total {
      color: #6F7173;

      strong {
        color: #6F7173;
      }
    }

    form {
      border: 1px solid rgba(56, 56, 56, 0.15);
      background: rgba(255, 255, 255, 0.50);
      box-shadow: 0 100px 80px 0 rgba(0, 0, 0, 0.07), 0 41.778px 33.422px 0 rgba(0, 0, 0, 0.05), 0 22.336px 17.869px 0 rgba(0, 0, 0, 0.04), 0 12.522px 10.017px 0 rgba(0, 0, 0, 0.04), 0 6.65px 5.32px 0 rgba(0, 0, 0, 0.03), 0 2.767px 2.214px 0 rgba(0, 0, 0, 0.02);
      backdrop-filter: blur(15px);
    }

    .wrap-radio {
      border: 1px solid rgba(56, 56, 56, 0.15);
      background: rgba(255, 255, 255, 0.60);

      .checkmark {
        border-color: #e9e8e8;
      }
    }

    .btn-primary {
      width: 100%;
    }

    .block {
      width: 100%;
      text-align: center;
    }
  }


	// MY FRIENDS

	.top-block-friends {
		.btn {
			border: 1px solid rgba(56, 56, 56, 0.05);
			background: #F7F7F7;

			.value {
				background: #9BA5AE;
				color: white;
			}

			.is-plus {
				background: #FDB713;
			}

			.default-color {
				background: #9BA5AE;
			}


		}

		.is-blocked {
			background: #FDB713;
			color: white;

			.value {
				background: rgba(255, 255, 255, 0.30);
				color: white;
			}
		}
		.active  {
			background: #FDB713;
			.value {
				background: rgba(255, 255, 255, 0.3);
			}

		}

		.wrap-input input {
			border: 1px solid rgba(56, 56, 56, 0.05);
			background: #F7F7F7;
			color: #6F7173;

		}







	}


	.wrap-lock-friends .lock-text-friends{
		background: rgba(255, 187, 0, 0.28);
		backdrop-filter: blur(7.5px);
		color: #C49924;
	}

	.content-thumbs-col3 {
		.buttons-list {
			.btn {
				border: 1px solid rgba(255, 255, 255, 0.30);
				background: #9BA5AE;
				color: white;
			}
		}
	}


	// MY SUBSCRIBERS

	.vertical-subscribers {

		.item {
			border: 1px solid transparent;
			@media (hover: hover) and (pointer: fine){
				&:hover {
					border-radius: 24px;
					border: 1px solid rgba(56, 56, 56, 0.05);
					background: rgba(222, 224, 227, 0.50);
				}
			}

			.wrap-subscribe .btn-subscribe {
				border: 1px solid rgba(255, 255, 255, 0.30);
				background: #9BA5AE;
			}
		}
		.btn-suscribe {
				border: 1px solid rgba(255, 255, 255, 0.30);
				background: #9BA5AE;
				color: white;
			}

	}

	// SETTINGS

	.tabs-setting {
		border-radius: 30px;
		border-top: 1px solid rgba(56, 56, 56, 0.15);
		border-right: 1px solid rgba(56, 56, 56, 0.15);
		border-left: 1px solid rgba(56, 56, 56, 0.15);
		background: rgba(244, 244, 244, 0.80);

		.tabs-caption {

			background: white;

			.active {
				background: #9BA5AE;
				color: white;
			}

		}

		.tabs-content {

			.inner {
				border-top: 1px solid rgba(111, 113, 115, 0.15);
			}

			.title-name {
				color: #6F7173;
			}

			.wrap-input input , .select2-container--default .select2-selection--single .select2-selection__rendered, textarea {

				border: 1px solid rgba(56, 56, 56, 0.15);

				// #3D3C40;
				background: #FFF;
				color: #6F7173;

			}
			.wrap-input input:focus {
				border: 1px solid #3D3C40;

			}
		}

		.wrap-category-search .inner-block {
			border: 1px solid rgba(155, 165, 174, 0.50);
			background: rgba(226, 232, 238, 0.80);
			padding: 12px 18px;

			input {
				background: inherit;
				border: unset;
				border-bottom: 1px solid rgba(155, 165, 174, 0.50);
				border-radius: unset;
			}
			input:focus {
				border: unset;
				border-bottom: 1px solid #3D3C40;
			}
			input::placeholder {
				color: rgba(155, 165, 174, 1);
			}

			.list-links .item a {
				border: 1px solid rgba(255, 255, 255, 0.05);
				background: #9BA5AE;
				backdrop-filter: blur(50px);
				color: white;

				.wrap-svg {
					background: rgba(255, 255, 255, 0.50);
					color: #9BA5AE;
				}
			}
		}
		.list-links, .second {

			.item a {
				border: 1px solid rgba(56, 56, 56, 0.05);
				background: rgba(226, 232, 238, 0.80);
				backdrop-filter: blur(50px);
				color: #6F7173;
			}
		}
		.wrap-category-search .list-links.second .link .wrap-svg {
				background: white;

				svg {
					fill: #9BA5AE;
				}
		}
		.wrap-category-search .list-links.second .link:hover .wrap-svg {
				background: #9BA5AE;

				svg {
					fill: white;
				}
		}
		.wrap-submit-custom {
			background: #E2E2E2;
		}

	}

	// SEARCH RESULT VIDEO

	.headline {
		.sort-result {
			background: #F4F4F4;
		}
		.sort-item .active {
			color: white;
		}


	}

	// SEARCH RESULT CATEGORIES

	.search-cat-wrap {
		border: 1px solid rgba(56, 56, 56, 0.05);
		background: rgba(244, 244, 244, 0.50);

		.cat-list .item a{

			color: #6F7173;

			@media(hover: hover) and (pointer: fine){
				&:hover{
					background: rgba(155, 165, 174, 0.12);

				}
			}

		}
	}

	// FAQ

	.faq-section {
		h1 {
			color: #6F7173;
		}
		.faq-description {
			color: #9BA5AE;
		}

		.faq-list {

			.faq-item {
				border: 1px solid rgba(56, 56, 56, 0.05);
				background: rgba(244, 244, 244, 0.50);
			}
			.faq-question {
				color: #6F7173;
			}
			.faq-answer {
				color: #9BA5AE;

			}
			.active {

			}
		}
	}

	// FEED
	.feed {


		.tabs-caption {
			color: #6F7173;

			background: #f4f4f4;
		}

		.row-publications {
			border: 1px solid rgba(56, 56, 56, 0.05);
			background: rgba(244, 244, 244, 0.40);

			.name, .user-text {
				color: #6F7173;
			}

			.cols-comments .col-right {
				border: unset;
				background: unset;
			}
		}

	}





	// ------------------------- // ----------------------

  .logo-holder {
    .logo-light {
      display: block;
    }

    .logo-dark {
      display: none;
    }
  }

	a {
		color: #9BA5AE;
	}

	.header {
		background: linear-gradient(0deg, rgba(244, 244, 244, 0.80) 0%, rgba(244, 244, 244, 0.80) 100%), rgba(255, 255, 255, 0.01);
	}

	.btn-menu {
		background: #fff;
		border-color: rgba(56, 56, 56, 0.10);
	}

	.header-bar {
		background: #FBFBFB;
		box-shadow: inset 0 1px 0 rgb(76 74 74 / 10%);
	}

	.search-text:before {
	    background: linear-gradient(to left, #FBFBFB, rgba(239, 238, 238, 0.59));
	}

	.search-text:after {
	    background: linear-gradient(to left, #DEDEDE, #FBFBFB);
	}

	.top-menu .link.active {
		background: rgba(105, 105, 105, 0.10);
	}

	.top-menu .link {
		@media(hover: hover) and (pointer: fine){
			&:hover{
				background: rgba(105, 105, 105, 0.10);
			}
		}
	}

	.btn {
		border-color: rgba(56, 56, 56, 0.10);
		background: #fff;
	}

	.member-list .item:first-child .btn {
		color: #9BA5AE;
		background: #fff;

		@media(hover: hover) and (pointer: fine){
			&:hover{
				color: #FDB713;
				border-color: #FDB713;
			}
		}
	}

	.member-list .item:last-child .btn {
		background: #FFFEEE;
		border-color: #FDB713;

		@media(hover: hover) and (pointer: fine){
			&:hover{
				background: #FDB713;
			}
		}
	}

	.img-holder .duration {
		color: #fff;
	}

	.title {
		color: #6F7173;
	}

	.thumb-wrap {
		@media(hover: hover) and (pointer: fine){
			&:hover{
				border-color: rgba(56, 56, 56, 0.05);
				background: rgba(222, 224, 227, 0.50);
			}
		}
	}

	.footer {
		background: #F4F4F4;
	}

	.footer-nav .link{
		color: #6F7173;
	}

	.footer-text .text {
		color: #B4B4B4;
	}

	.sort .btn {
		background: #F7F7F7;

		@media(hover: hover) and (pointer: fine){
			&:hover{
				background: #E6E6E6;
        color: #9BA5AE;
			}
		}
	}

	.sort .active {
		background-color: #FDB713;
    border-color: #FDB713;

    @media(hover: hover) and (pointer: fine){
      &:hover{
        background: #E6E6E6;
        color: #9BA5AE;
      }
    }
	}

	.sort-item .dropdown {
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), rgba(18, 17, 20, 0.30);
    box-shadow: 0 100px 80px 0 rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(50px);

    .link {
      color: #fff;
    }
  }

	.sort-item.wrap-dropdown.open .site-list {
		color: #FDB713;
		border-color: #FDB713;
		background: #FFFEEE;
	}

	.text-seo {
		background: #F9F9F9;
		border: 1px solid rgba(56, 56, 56, 0.05);
	}

	.text-seo .col-left .title-text .top,
	.text-seo .col-left .title-text .bottom {
		color: #6F7173;
	}

	.pagination .item .btn {
		color: #9BA5AE;
		background: #F7F7F7;
		border-color: rgba(56, 56, 56, 0.05);


		@media(hover: hover) and (pointer: fine){
			&:hover{
				background: #E6E6E6;
				color: #9BA5AE;
			}
		}
	}

	.pagination .jump .btn {
		background: transparent;

	}

	.pagination .item .active {
	    background: #FDB713;
	    color: #fff;
	}

	.btn-primary {
		color: #fff;

		@media(hover: hover) and (pointer: fine){
			&:hover{
				color: #FDB713;
			}
		}
	}

	.menu {
		border-top: 1px solid rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(7.5px);
		border-color: rgba(255, 255, 255, 0.20);
		box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.40);
		// background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), rgba(0, 0, 0, 0.35);
		background: rgba(224, 224, 224, 0.95);

		// .wrap-dropdown .dropdown {
		// 	.dropdown {

		// 	}
		// }

		 .open {
			background: white;
			border-radius: 20px;
		}

		.wrap-radio {
			color: #6F7173;
			.checkmark {
				border-color: #6F7173;
			}
		}


	}

	.menu-link {
		color: #6F7173;

		@media(hover: hover) and (pointer: fine){
			&:hover{
				background: rgba(255, 255, 255, 0.20);
			}
		}
	}

	.wrap-radio .checkmark {
		border-color: #fff;
	}

	// .autocomplete-dropdown {
	// 	box-shadow: none;
	// }

	.autocomplete-no-match {
		color: #fff;
	}

	.category-models .btn {
		background: rgba(0, 0, 0, 0.20);
		color: #fff;
	}

	.category-users .name {
		color: #fff;
	}

	.avatar {
		background: #F4F4F4;
		color: #B4B4B4;
	}

	.category-models .btn,
	.category-users .link .name {
		@media(hover: hover) and (pointer: fine){
			&:hover{
				color: #FDB713 !important;
			}
		}
	}

	.search-btn  {
		@media(max-width: 910px){
			background: #fff;
			border-color: #EBEBEB;
		}
	}

	.search-holder.open {
		background: #F6F6F6;
	}

	.main-nav {
		@media(max-width: 910px){
			overflow: hidden;
			background: #FBFBFB;
			box-shadow: inset 0 1px 0 rgba(76, 74, 74, 0.1);

			&:before{
				background: linear-gradient(to left, #FBFBFB, rgba(239, 238, 238, 0.59));
			}

			&:after{
				border-image: linear-gradient(to left, #DEDEDE, #FBFBFB) 1;
			}
		}
	}
}
