{{> header-logged-in pageTitle="Chat" pageClass="chat-wrapper" }}

<div class="chat-page">
  <aside class="chat-sidebar">
    <div class="chat-sidebar__top">
      <form class="chat-search" action="#">
        <svg class="svg-icon">
          <use xlink:href="#icon-search" />
        </svg>
        <input type="search" placeholder="Поиск по никнейму">
      </form>
    </div>
    <div class="chat-sidebar__bottom">
      <ul class="chat-list">
        <li class="chat-list__item active">
          <a href="#" class="chat-contact">
            <span class="chat-contact__photo"><img src="images/temp/ava-sm.jpg"
                alt><span
                class="chat-contact__online"></span></span>
            <span class="chat-contact__body"><span
                class="chat-contact__row"><span
                  class="chat-contact__name">necheevna</span><span
                  class="chat-contact__time-wrapper"><span
                    class="chat-contact__time">12:33</span></span></span><span
                class="chat-contact__row"><span
                  class="chat-contact__message">Сиськи у тебя как у
                  собаки</span><span
                  class="chat-contact__counter">12</span></span></span>
          </a>
        </li>
        <li class="chat-list__item">
          <a href="#" class="chat-contact">
            <span class="chat-contact__photo"><img src="images/temp/ava-sm.jpg"
                alt></span>
            <span class="chat-contact__body"><span
                class="chat-contact__row"><span
                  class="chat-contact__name">Alexfire_01</span><span
                  class="chat-contact__time-wrapper"><span
                    class="chat-contact__time">12:20</span></span></span><span
                class="chat-contact__row"><span
                  class="chat-contact__message">Фотография</span><span
                  class="chat-contact__counter">1</span></span></span>
          </a>
        </li>
        <li class="chat-list__item">
          <a href="#" class="chat-contact">
            <span class="chat-contact__photo"><img src="images/temp/ava-sm.jpg"
                alt><span
                class="chat-contact__online"></span></span>
            <span class="chat-contact__body"><span
                class="chat-contact__row"><span
                  class="chat-contact__name">Amsterdam</span><span
                  class="chat-contact__time-wrapper"><span
                    class="chat-contact__time">11:15</span></span></span><span
                class="chat-contact__row"><span
                  class="chat-contact__message">Видел тебя на
                  сосалкино!</span><span
                  class="chat-contact__counter">2</span></span></span>
          </a>
        </li>
        <li class="chat-list__item">
          <a href="#" class="chat-contact">
            <span class="chat-contact__photo"><img src="images/temp/ava-sm.jpg"
                alt></span>
            <span class="chat-contact__body"><span
                class="chat-contact__row"><span
                  class="chat-contact__name">DiorKristina</span><span
                  class="chat-contact__time-wrapper"><span
                    class="chat-contact__time">6:32</span></span></span><span
                class="chat-contact__row"><span
                  class="chat-contact__message">Знаю что не у неё, всё равно дай
                  н...</span></span>
            </a>
          </li>
          <li class="chat-list__item">
            <a href="#" class="chat-contact">
              <span class="chat-contact__photo"><img
                  src="images/temp/ava-sm.jpg" alt></span>
              <span class="chat-contact__body"><span
                  class="chat-contact__row"><span
                    class="chat-contact__name">Nigel
                    Sean</span><span class="chat-contact__time-wrapper"><img
                      src="https://www.figma.com/api/mcp/asset/16bcf49e-856f-4176-8fc4-c303c9874782"
                      alt
                      class="chat-contact__checkmark"><span
                      class="chat-contact__time">Вт</span></span></span><span
                  class="chat-contact__row"><span
                    class="chat-contact__message">Будешь с нами?</span><span
                    class="chat-contact__counter">125</span></span></span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <main class="chat-main">
      <div class="chat-top-section">
        <button type="button" class="chat-back mobile-only">
          <svg class="svg-icon">
            <use xlink:href="#icon-arrow-left" />
          </svg>
        </button>
        <div class="chat-current">
          <div class="chat-current__photo"><img src="images/temp/ava-sm.jpg"
              alt></div>
          <div class="chat-current__info">
            <div class="chat-current__name">necheevna 🟡💙</div>
            <div class="chat-current__status">Онлайн</div>
          </div>
        </div>
        <button type="button" class="chat-dots">...</button>
      </div>
      <div class="chat-menu chat-menu_profile">
        <a href="#" class="chat-menu__item"><svg class="svg-icon">
            <use xlink:href="#icon-user2" />
          </svg><span>Смотреть профиль</span></a>
        <a href="#" class="chat-menu__item"><svg class="svg-icon">
            <use xlink:href="#icon-lock" />
          </svg><span>Заблокировать</span></a>
        <a href="#" class="chat-menu__item"><svg class="svg-icon">
            <use xlink:href="#icon-message-remove" />
          </svg><span>Удалить переписку</span></a>
        <a href="#" class="chat-menu__item danger"><svg class="svg-icon">
            <use xlink:href="#icon-delete" />
          </svg><span>Удалить с друзей</span></a>
      </div>
      <div class="chat-messages">
        <div class="chat-message chat-message_photo"><img
            src="images/temp/ava-lg.jpg" alt><span
            class="chat-message__time">23:32</span></div>
        <div class="chat-message chat-message_out">
          <div class="chat-message__reply">necheevna<br>Фотография</div>
          <div class="chat-message__text">Да) Клёвая задница у тебя)</div><span
            class="chat-message__time">23:32</span>
        </div>
        <div class="chat-message chat-message_out small">
          <div class="chat-message__text">Любишь пофоткаться в
            раздевалках?</div><span
            class="chat-message__time">23:32</span>
        </div>
        <div class="chat-date">2 Сентября</div>
        <div class="chat-message chat-message_in">Люблю! Скинь свою</div>
        <div class="chat-menu chat-menu_message">
          <a href="#" class="chat-menu__item"><svg class="svg-icon">
              <use xlink:href="#icon-message" />
            </svg><span>Ответить</span></a>
          <a href="#" class="chat-menu__item"><svg class="svg-icon">
              <use xlink:href="#icon-copy" />
            </svg><span>Копировать текст</span></a>
          <a href="#" class="chat-menu__item danger"><svg class="svg-icon">
              <use xlink:href="#icon-delete" />
            </svg><span>Удалить</span></a>
        </div>
        <div class="chat-message chat-message_out small">
          <div class="chat-message__text">Привет, не вопрос</div><span
            class="chat-message__time">23:32</span>
        </div>
      </div>
      <form class="chat-compose" action="#">
        <input type="text" placeholder="Сообщение">
        <button type="button" class="chat-compose__btn">＋</button>
        <button type="button"
          class="chat-compose__btn chat-compose__smile">☺</button>
        <div class="chat-smileys-bar">
          <img src="https://www.kvs-demo.com/static/images/emoticons/smile.png"
            alt=":)" title=":)" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/cool.png"
            alt="8-)" title="8-)" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/cwy.png"
            alt=";(" title=";(" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/grin.png"
            alt=":D" title=":D" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/sad.png"
            alt=":(" title=":(" />
          <img
            src="https://www.kvs-demo.com/static/images/emoticons/shocked.png"
            alt=":O" title=":O" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/tongue.png"
            alt=":P" title=":P" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/wink.png"
            alt=";)" title=";)" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/heart.png"
            alt=":heart:" title=":heart:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/ermm.png"
            alt=":ermm:" title=":ermm:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/angel.png"
            alt=":angel:" title=":angel:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/angry.png"
            alt=":angry:" title=":angry:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/alien.png"
            alt=":alien:" title=":alien:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/blink.png"
            alt=":blink:" title=":blink:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/blush.png"
            alt=":blush:" title=":blush:" />
          <img
            src="https://www.kvs-demo.com/static/images/emoticons/cheerful.png"
            alt=":cheerful:" title=":cheerful:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/devil.png"
            alt=":devil:" title=":devil:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/dizzy.png"
            alt=":dizzy:" title=":dizzy:" />
          <img
            src="https://www.kvs-demo.com/static/images/emoticons/getlost.png"
            alt=":getlost:" title=":getlost:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/happy.png"
            alt=":happy:" title=":happy:" />
          <img
            src="https://www.kvs-demo.com/static/images/emoticons/kissing.png"
            alt=":kissing:" title=":kissing:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/ninja.png"
            alt=":ninja:" title=":ninja:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/pinch.png"
            alt=":pinch:" title=":pinch:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/pouty.png"
            alt=":pouty:" title=":pouty:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/sick.png"
            alt=":sick:" title=":sick:" />
          <img
            src="https://www.kvs-demo.com/static/images/emoticons/sideways.png"
            alt=":sideways:" title=":sideways:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/silly.png"
            alt=":silly:" title=":silly:" />
          <img
            src="https://www.kvs-demo.com/static/images/emoticons/sleeping.png"
            alt=":sleeping:" title=":sleeping:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/unsure.png"
            alt=":unsure:" title=":unsure:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/w00t.png"
            alt=":woot:" title=":woot:" />
          <img src="https://www.kvs-demo.com/static/images/emoticons/wassat.png"
            alt=":wassat:" title=":wassat:" />
        </div>
        <button type="submit" class="chat-compose__send"><svg class="svg-icon">
            <use xlink:href="#icon-arrow-right" />
          </svg></button>
      </form>
    </main>
    <aside class="chat-profile">
      <button type="button" class="chat-profile__close">×</button>
      <img class="chat-profile__avatar" src="images/temp/ava-lg.jpg" alt>
      <div class="chat-profile__header">
        <div class="chat-profile__name-row">
          <div class="chat-profile__name">necheevna</div>
          <div class="chat-profile__badges">
            <img
              src="https://www.figma.com/api/mcp/asset/236c265c-d82b-4adf-8667-184dec9c0d0d"
              alt
              class="chat-profile__badge">
            <img
              src="https://www.figma.com/api/mcp/asset/688c0901-0f42-47f7-b0e5-1ffc2ee24d95"
              alt
              class="chat-profile__badge">
          </div>
        </div>
        <div class="chat-profile__age-row">
          <img
            src="https://www.figma.com/api/mcp/asset/21b477ec-e2b1-42a3-a379-c0daa8543649"
            alt
            class="chat-profile__gender">
          <div class="chat-profile__age">26 лет</div>
        </div>
      </div>
      <div class="chat-profile__body">
        <div class="chat-profile__stats">
          <div class="chat-profile__followers"><strong>2.6 тыс</strong>
            подписчиков</div>
          <div class="chat-profile__location"><img
              src="https://www.figma.com/api/mcp/asset/598648bc-fb57-42dc-8baf-779b822c9f77"
              alt
              class="chat-profile__location-icon">Казахстан</div>
        </div>
        <a href="#" class="chat-profile__btn"><img
            src="https://www.figma.com/api/mcp/asset/00b0e431-4b73-4915-8d70-4af98c8eb635"
            alt
            class="chat-profile__btn-icon"><span>Добавить в друзья</span></a>
        <div class="chat-profile__divider"></div>
        <div class="chat-profile__about">
          <div class="chat-profile__title">О СЕБЕ</div>
          <p>Милая, заботливая и с чувством юмора 😊 ищу того, кто оценит ❤️</p>
        </div>
        <div class="chat-profile__actions">
          <a href="#" class="chat-profile__subscribe"><img
              src="https://www.figma.com/api/mcp/asset/ea0f892c-47bb-4ec5-9cb8-951614b6bee3"
              alt
              class="chat-profile__subscribe-icon"><span>Подписаться</span></a>
          <a href="#" class="chat-profile__secret">
            <img src="images/temp/thumb1.jpg" alt>
            <span>Тут я продаю самый сочный контент.<br>Заходи на мой Secret
              Room!</span>
          </a>
        </div>
      </div>
    </aside>
  </div>

  {{> footer-chat}}