{{> header pageTitle="Chat" pageClass="chat-wrapper"}}

<div class="chat-page chat-page_no-sidebar">
	<main class="chat-main">
		<div class="chat-messages">
			<div class="empty-chat">
				<div class="empty-chat__icon">
					<svg class="svg-icon"><use xlink:href="#icon-message-minus"/></svg>
				</div>
				<div class="empty-chat__text">
					<p>У Вас ещё нет сообщений,</p>
					<p>но Вы не расстраивайтесь, всё впереди❤️</p>
				</div>
				<div class="empty-chat__info">
					<p>Сообщения в диалогах хранятся 180 дней.</p>
					<p>Но скоро мы накопим денег на резиновую <del>бабу</del> базу данных 😎</p>
				</div>
			</div>
		</div>
	</main>
</div>

{{> footer-chat}}