{{> header pageTitle="Chat" pageClass="chat-wrapper" }}

<div class="chat-page">
	<aside class="chat-sidebar">
		<div class="chat-sidebar__top">
			<form class="chat-search" action="#">
				<svg class="svg-icon"><use xlink:href="#icon-search"/></svg>
				<input type="search" placeholder="Поиск по никнейму">
			</form>
		</div>
		<div class="chat-sidebar__bottom">
			<ul class="chat-list">
			<li class="chat-list__item active">
				<a href="#" class="chat-contact">
					<span class="chat-contact__photo"><img src="images/temp/ava-sm.jpg" alt=""><span class="chat-contact__online"></span></span>
					<span class="chat-contact__body"><span class="chat-contact__row"><span class="chat-contact__name">necheevna</span><span class="chat-contact__time-wrapper"><span class="chat-contact__time">12:33</span></span></span><span class="chat-contact__row"><span class="chat-contact__message">Сиськи у тебя как у собаки</span><span class="chat-contact__counter">12</span></span></span>
				</a>
			</li>
			<li class="chat-list__item">
				<a href="#" class="chat-contact">
					<span class="chat-contact__photo"><img src="images/temp/ava-sm.jpg" alt=""></span>
					<span class="chat-contact__body"><span class="chat-contact__row"><span class="chat-contact__name">Alexfire_01</span><span class="chat-contact__time-wrapper"><span class="chat-contact__time">12:20</span></span></span><span class="chat-contact__row"><span class="chat-contact__message">Фотография</span><span class="chat-contact__counter">1</span></span></span>
				</a>
			</li>
			<li class="chat-list__item">
				<a href="#" class="chat-contact">
					<span class="chat-contact__photo"><img src="images/temp/ava-sm.jpg" alt=""><span class="chat-contact__online"></span></span>
					<span class="chat-contact__body"><span class="chat-contact__row"><span class="chat-contact__name">Amsterdam</span><span class="chat-contact__time-wrapper"><span class="chat-contact__time">11:15</span></span></span><span class="chat-contact__row"><span class="chat-contact__message">Видел тебя на сосалкино!</span><span class="chat-contact__counter">2</span></span></span>
				</a>
			</li>
			<li class="chat-list__item">
				<a href="#" class="chat-contact">
					<span class="chat-contact__photo"><img src="images/temp/ava-sm.jpg" alt=""></span>
					<span class="chat-contact__body"><span class="chat-contact__row"><span class="chat-contact__name">DiorKristina</span><span class="chat-contact__time-wrapper"><span class="chat-contact__time">6:32</span></span></span><span class="chat-contact__row"><span class="chat-contact__message">Знаю что не у неё, всё равно дай н...</span></span>
				</a>
			</li>
			<li class="chat-list__item">
				<a href="#" class="chat-contact">
					<span class="chat-contact__photo"><img src="images/temp/ava-sm.jpg" alt=""></span>
					<span class="chat-contact__body"><span class="chat-contact__row"><span class="chat-contact__name">Nigel Sean</span><span class="chat-contact__time-wrapper"><img src="https://www.figma.com/api/mcp/asset/16bcf49e-856f-4176-8fc4-c303c9874782" alt="" class="chat-contact__checkmark"><span class="chat-contact__time">Вт</span></span></span><span class="chat-contact__row"><span class="chat-contact__message">Будешь с нами?</span><span class="chat-contact__counter">125</span></span></span>
				</a>
			</li>
			</ul>
		</div>
	</aside>
	<main class="chat-main">
		<div class="empty-chat">
			<div class="empty-chat__icon">
				<svg class="svg-icon"><use xlink:href="#icon-message-minus"/></svg>
			</div>
			<p class="empty-chat__text">Выберите чат, чтоб начать общаться</p>
			<div class="empty-chat__info">
				<p>Сообщения в диалогах хранятся 180 дней.</p>
				<p>Но скоро мы накопим денег на резиновую <del>бабу</del> базу данных 😎</p>
			</div>
		</div>
	</main>
	<aside class="chat-profile">
	</aside>
</div>

{{> footer-chat}}