{{> header pageTitle="Index"}}

<div class="section">
	<div class="headline">
		<h1 class="title">Порно видео - онлайн в HD качестве</h1>
		<nav class="sort">
			<ul class="drop">
				<li class="sort-item">
					<a href="#" class="link btn active">Новое</a>
				</li>
				<li class="sort-item wrap-dropdown">
					<button type="button" class="site-list js-dropdown btn">
						<span class="holder-icon">
							<span class="text">Лучшее</span>
							<svg class="svg-icon"><use xlink:href='#icon-arrow-down'/></svg>
						</span>
					</button>
					<ul class="dropdown">
						<li class="item">
							<a href="#" class="link">За неделю</a>
						</li>
						<li class="item">
							<a href="#" class="link">За месяц</a>
						</li>
						<li class="item">
							<a href="#" class="link">За всё время</a>
						</li>
						<li class="item">
							<a href="#" class="link">За сегодня</a>
						</li>
					</ul>
				</li>
				<li class="sort-item wrap-dropdown">
					<button type="button" class="site-list js-dropdown btn">
						<span class="holder-icon">
							<span class="text">Просматриваемое</span>
							<svg class="svg-icon"><use xlink:href='#icon-arrow-down'/></svg>
						</span>
					</button>
					<ul class="dropdown">
						<li class="item">
							<a href="#" class="link">За неделю</a>
						</li>
						<li class="item">
							<a href="#" class="link">За месяц</a>
						</li>
						<li class="item">
							<a href="#" class="link">За всё время</a>
						</li>
						<li class="item">
							<a href="#" class="link">За сегодня</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	{{> thumbs}}

	{{> pagination}}

  <div class="tab-content report-wrap popup open">
    <div class="popup-content">
      <div class="inner-box complaint-popup">
        <button type="button" class="popup-close">
          <svg class="svg-icon"><use xlink:href="#icon-close"></use></svg>
        </button>

        <div class="email-confirmation">
          <span class="email-confirmation-title">Подтверждение аккаунта</span>

          <p class="email-confirmation-text">Мы отправили вам письмо с ссылкой для активации аккаунта. Проверьте почту и перейдите по ссылке из письма</p>

          <p class="email-confirmation-text">Ссылка действует в течении 15 минут</p>

          <span class="timer email-confirmation-timer">15:00</span>

          <button class="btn-primary">Отправить повторно</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{> section-seo}}

{{> footer}}