{{> header pageTitle="FAQ"}}

<div class="section faq-section">
    <div class="faq-top-block">
      <div class="faq-header">
        <h1 class="faq-title">Возникли вопросы?</h1>
        <h2 class="faq-subtitle">Мы поможем!</h2>
      </div>
      <div class="faq-description">
          <p>Ниже Вы найдете ответы на самые популярные вопросы. Если вы так и не нашли ответ на интересующий Вас вопрос, то просим написать нам в онлайн чат. Оператор онлайн с 9:00 до 19:00 (Amsterdam, Netherlands).</p>
          <p>Если оператора нет онлайн, то оставьте свой Email и мы ответим Вам в рабочее время.</p>
      </div>
    </div>
    <div class="faq-list">
        <div class="faq-item active">
            <div class="faq-item-header">
                <h3 class="faq-question">Как скачать видео?</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-item-header">
                <h3 class="faq-question">Почему видео длится 8 минут?</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-item-header">
                <h3 class="faq-question">Как удалить аккаунт?</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-item-header">
                <h3 class="faq-question">Как убрать рекламу?</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-item-header">
                <h3 class="faq-question">Я оплатил, а премиум не активировался</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-item-header">
                <h3 class="faq-question">С кем можно поговорить по поводу сотрудничества?</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-item-header">
                <h3 class="faq-question">Я нашёл ошибку на сайте!</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-item-header">
                <h3 class="faq-question">Какие видео можно загружать на сайт?</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-item-header">
                <h3 class="faq-question">Как долго длится проверка видео?</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-item-header">
                <h3 class="faq-question">Почему моё видео было удалено?</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-item-header">
                <h3 class="faq-question">Можно ли заработать у вас на сайте?</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-item-header">
                <h3 class="faq-question">Как защитить детей от порно?</h3>
                <button class="faq-toggle">
                    <svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
                </button>
            </div>
            <div class="faq-answer">
                <p>Скачивание доступно для Премиум пользователей. Вы можете купить премиум статус и пользоваться всеми его преимуществами.</p>
            </div>
        </div>
    </div>
</div>

{{> section-seo}}

{{> footer}}
