{{> header pageTitle="Home"}}

<div class="section">
	<div class="headline condition-headline">
		<h1 class="title">НОВЫЕ ВИЕДЕО ИЗ КАТЕГОРИИ: В ВАННОЙ</h1>
		<nav class="sort">
			<ul class="drop">
				<li class="sort-item">
					<a href="#" class="link btn active">Новое</a>
				</li>
				<li class="sort-item wrap-dropdown">
					<button type="button" class="site-list js-dropdown btn">
						<span class="holder-icon">
							<span class="text">Лучшее</span>
							<svg class="svg-icon"><use xlink:href='#icon-arrow-down'/></svg>
						</span>
					</button>
					<ul class="dropdown">
						<li class="item">
							<a href="#" class="link">За неделю</a>
						</li>
						<li class="item">
							<a href="#" class="link">За месяц</a>
						</li>
						<li class="item">
							<a href="#" class="link">За всё время</a>
						</li>
						<li class="item">
							<a href="#" class="link">За сегодня</a>
						</li>
					</ul>
				</li>
				<li class="sort-item wrap-dropdown">
					<button type="button" class="site-list js-dropdown btn">
						<span class="holder-icon">
							<span class="text">Просматриваемое</span>
							<svg class="svg-icon"><use xlink:href='#icon-arrow-down'/></svg>
						</span>
					</button>
					<ul class="dropdown">
						<li class="item">
							<a href="#" class="link">За неделю</a>
						</li>
						<li class="item">
							<a href="#" class="link">За месяц</a>
						</li>
						<li class="item">
							<a href="#" class="link">За всё время</a>
						</li>
						<li class="item">
							<a href="#" class="link">За сегодня</a>
						</li>
					</ul>
				</li>
				<li class="sort-item wrap-dropdown">
					<button type="button" class="site-list btn-popup condition-btn btn js-dropdown">
						<span class="holder-icon">
							<span class="text">+Условие</span>
							<svg class="svg-icon"><use xlink:href='#icon-arrow-down'/></svg>
						</span>
						<span class="value">+5</span>
					</button>
					<ul class="dropdown">
						<li class="item">
							<a href="#" class="link">За неделю</a>
						</li>
						<li class="item">
							<a href="#" class="link">За месяц</a>
						</li>
						<li class="item">
							<a href="#" class="link">За всё время</a>
						</li>
						<li class="item">
							<a href="#" class="link">За сегодня</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	<div class="popup condition-popup">
		<div class="popup-content">
			<div class="inner-box">
				<button type="button" class="popup-close">
					<svg class="svg-icon"><use xlink:href="#icon-close"></use></svg>
				</button>

				<div class="top-custom">
					<div class="top-icon">
						<svg class="svg-icon"><use xlink:href='#icon-filter'/></svg>
					</div>
					<div class="top-text">
						<div class="name">+Условие</div>
						<div class="text">Выберете условия для точного поиска</div>
					</div>
				</div>

				<form action="#" class="form-group">
					<div class="wrap-input">
			       		<input type="text" placeholder="Введите имя модели" class="input">
			       </div>

			       <div class="wrap-category-search wrap-dropdown">
			       		<button type="button" class="site-list js-dropdown btn">
							<span class="holder-icon">
								<span class="text">Выберите дополнительную категорию</span>
								<svg class="svg-icon"><use xlink:href="#icon-arrow-down"></use></svg>
							</span>
						</button>
						<div class="dropdown">
							<div class="inner-block">
								<div class="wrap-input">
									<input type="text" placeholder="Категории" class="input search-input">
									<button class="search-button">
										<svg class="svg-icon"><use xlink:href="#icon-search"></use></svg>
									</button>
								</div>
								<ul class="list-links">
									<li class="item">
										<a href="#" class="link">
											<span class="text">Большие члены</span>
											<span class="wrap-svg">
												<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
											</span>
										</a>
									</li>
									<li class="item">
										<a href="#" class="link">
											<span class="text">Большие жопы</span>
											<span class="wrap-svg">
												<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
											</span>
										</a>
									</li>
									<li class="item">
										<a href="#" class="link">
											<span class="text">Большие сиськи</span>
											<span class="wrap-svg">
												<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
											</span>
										</a>
									</li>
									<li class="item">
										<a href="#" class="link">
											<span class="text">Большие члены</span>
											<span class="wrap-svg">
												<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
											</span>
										</a>
									</li>
								</ul>

								<div class="previously">
									<div class="title-label">Ранее вы искали:</div>
									<ul class="list-links">
										<li class="item">
											<a href="#" class="link">
												<span class="text">Большие члены</span>
												<span class="wrap-svg">
													<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
												</span>
											</a>
										</li>
										<li class="item">
											<a href="#" class="link">
												<span class="text">Большие жопы</span>
												<span class="wrap-svg">
													<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
												</span>
											</a>
										</li>
										<li class="item">
											<a href="#" class="link">
												<span class="text">Большие сиськи</span>
												<span class="wrap-svg">
													<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
												</span>
											</a>
										</li>
										<li class="item">
											<a href="#" class="link">
												<span class="text">Большие члены</span>
												<span class="wrap-svg">
													<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
												</span>
											</a>
										</li>
										<li class="item">
											<a href="#" class="link">
												<span class="text">Большие члены</span>
												<span class="wrap-svg">
													<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
												</span>
											</a>
										</li>
										<li class="item">
											<a href="#" class="link">
												<span class="text">Большие жопы</span>
												<span class="wrap-svg">
													<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<ul class="list-links second">
								<li class="item">
									<a href="#" class="link">
										<span class="text">На кухне</span>
										<span class="wrap-svg">
											<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
										</span>
									</a>
								</li>
								<li class="item">
									<a href="#" class="link">
										<span class="text">Минет</span>
										<span class="wrap-svg">
											<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
										</span>
									</a>
								</li>
								<li class="item">
									<a href="#" class="link">
										<span class="text">Чулки</span>
										<span class="wrap-svg">
											<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
										</span>
									</a>
								</li>
								<li class="item">
									<a href="#" class="link">
										<span class="text">Упругие сиськи</span>
										<span class="wrap-svg">
											<svg class="svg-icon"><use xlink:href='#icon-plus'/></svg>
										</span>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<button type="submit" class="btn-primary">Применить</button>

					<button type="button" class="btn btn-clear">Очистить фильтр</button>
				</form>
			</div>
		</div>
	</div>

	{{> thumbs}}

	{{> pagination}}
</div>

{{> section-seo}}

{{> footer}}
