{{> header-premium pageTitle="Index Premium"}}

<div class="section">
	<div class="headline">
		<h1 class="title">Порно видео - онлайн в HD качестве</h1>
		<nav class="sort">
			<ul class="drop">
				<li class="sort-item">
					<a href="#" class="link btn active">Новое</a>
				</li>
				<li class="sort-item wrap-dropdown">
					<button type="button" class="site-list js-dropdown btn">
						<span class="holder-icon">
							<span class="text">Лучшее</span>
							<svg class="svg-icon"><use xlink:href='#icon-arrow-down'/></svg>
						</span>
					</button>
					<ul class="dropdown">
						<li class="item">
							<a href="#" class="link">За неделю</a>
						</li>
						<li class="item">
							<a href="#" class="link">За месяц</a>
						</li>
						<li class="item">
							<a href="#" class="link">За всё время</a>
						</li>
						<li class="item">
							<a href="#" class="link">За сегодня</a>
						</li>
					</ul>
				</li>
				<li class="sort-item wrap-dropdown">
					<button type="button" class="site-list js-dropdown btn">
						<span class="holder-icon">
							<span class="text">Просматриваемое</span>
							<svg class="svg-icon"><use xlink:href='#icon-arrow-down'/></svg>
						</span>
					</button>
					<ul class="dropdown">
						<li class="item">
							<a href="#" class="link">За неделю</a>
						</li>
						<li class="item">
							<a href="#" class="link">За месяц</a>
						</li>
						<li class="item">
							<a href="#" class="link">За всё время</a>
						</li>
						<li class="item">
							<a href="#" class="link">За сегодня</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	{{> thumbs}}

	{{> pagination}}
</div>

{{> section-seo}}

{{> footer}}