{{> header pageTitle="Index"}}

<div class="section">
	<div class="headline">
		<h1 class="title">Порно видео - онлайн в HD качестве</h1>
		<nav class="sort">
			<ul class="drop">
				<li class="sort-item">
					<a href="#" class="link btn active">Новое</a>
				</li>
				<li class="sort-item wrap-dropdown">
					<button type="button" class="site-list js-dropdown btn">
						<span class="holder-icon">
							<span class="text">Лучшее</span>
							<svg class="svg-icon"><use xlink:href='#icon-arrow-down'/></svg>
						</span>
					</button>
					<ul class="dropdown">
						<li class="item">
							<a href="#" class="link">За неделю</a>
						</li>
						<li class="item">
							<a href="#" class="link">За месяц</a>
						</li>
						<li class="item">
							<a href="#" class="link">За всё время</a>
						</li>
						<li class="item">
							<a href="#" class="link">За сегодня</a>
						</li>
					</ul>
				</li>
				<li class="sort-item wrap-dropdown">
					<button type="button" class="site-list js-dropdown btn">
						<span class="holder-icon">
							<span class="text">Просматриваемое</span>
							<svg class="svg-icon"><use xlink:href='#icon-arrow-down'/></svg>
						</span>
					</button>
					<ul class="dropdown">
						<li class="item">
							<a href="#" class="link">За неделю</a>
						</li>
						<li class="item">
							<a href="#" class="link">За месяц</a>
						</li>
						<li class="item">
							<a href="#" class="link">За всё время</a>
						</li>
						<li class="item">
							<a href="#" class="link">За сегодня</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	{{> thumbs}}

	{{> pagination}}
</div>

<div class="section text-seo">
	<div class="cols">
		<div class="col-left">
			<div class="title-text">
				<div class="top">Самые</div>
				<div class="center">сочные ролики</div>
				<div class="bottom">в рунете!</div>
			</div>
		</div>
		<div class="cols-right">
			<div class="text">Каждый день наша команда внимательно отбирает свежее порно с бескрайних просторов интернета и публикует только самое лучшее для Вас!</div>
			<div class="text">Порнуха на "Порно Афише" только в HD и Full HD качестве, что вызывает восторг даже у самого требовательного зрителя. Мы точно знаем чего ждут от видео наши пользователи и стараемся угодить всем и каждому.</div>
		</div>
	</div>
</div>

{{> footer}}
