{{> header pageTitle="Models"}}

<div class="section">
	<div class="headline">
		<h1 class="title">Модели</h1>
		<nav class="sort">
			<ul class="drop">
				<li class="sort-item">
					<a href="#" class="link btn active">Новые</a>
				</li>
				<li class="sort-item">
					<a href="#" class="link btn">Популярные</a>
				</li>
				<li class="sort-item">
					<a href="#" class="link btn">Много видео</a>
				</li>
			</ul>
		</nav>
	</div>

	{{> thumbs-vertical}}

	{{> pagination}}
</div>

<div class="section text-seo">
	<div class="cols">
		<div class="col-left">
			<div class="title-text">
				<div class="top">Самые</div>
				<div class="center">сочные ролики</div>
				<div class="bottom">в рунете!</div>
			</div>
		</div>
		<div class="cols-right">
			<div class="text">Каждый день наша команда внимательно отбирает свежее порно с бескрайних просторов интернета и публикует только самое лучшее для Вас!</div>
			<div class="text">Порнуха на "Порно Афише" только в HD и Full HD качестве, что вызывает восторг даже у самого требовательного зрителя. Мы точно знаем чего ждут от видео наши пользователи и стараемся угодить всем и каждому.</div>
		</div>
	</div>
</div>

{{> footer}}
