{{> header pageTitle="Model single page"}}

<div class="section">
  <div class="model-block">
    <div class="model-block__left">
      <div class="model-block__head">
        <h1 class="model-block__title" data-title="SolaZola">SolaZola</h1>
        <div class="model-block__subscribers">
          <strong>2.6 тыс</strong> подписчиков
        </div>
      </div>
      <div class="model-block__info">
        <div class="model-block__info-item"><span>Страна:</span> Russian Federation</div>
        <div class="model-block__info-item"><span>Город:</span> Moscow</div>
        <div class="model-block__info-item"><span>Возраст:</span> 28</div>
        <div class="model-block__info-item"><span>Рост:</span> 162</div>
        <div class="model-block__info-item"><span>Вес:</span> 39</div>
      </div>
      <div class="model-block__text">
        <p>Стройная брюнетка Sola Zola тщательно скрывает свое настоящее имя, а в первые годы своей карьеры она также тщательно скрывала и свой возраст. И не мудрено – ведь в своем первом фильме для взрослых девушка снялась в довольно молодом возрасте! Тем не менее, ее карьера продолжает двигаться в гору и на сегодняшний день огромное количество фанатов и не меньшее количество отснятых работ являются лучшим тому подтверждением.</p>
        <p>Последние годы актриса живет и работает в Таллине, не забывая и о путешествиях, и о своих хобби, основным из которых является сноубординг. Также Sola Zola без ума от вкусной еды и шопинга, поэтому много времени проводит на занятиях фитнесом.</p>
      </div>
      <div class="model-block__bottom">
        <a href="#" class="model-block__subscribe">
          <svg class="svg-icon"><use xlink:href="#icon-heart"></use></svg>
          <span>Подписаться</span>
        </a>
        <div class="model-block__socials">
          <a href="#" class="model-block__social">𝕏</a>
          <a href="#" class="model-block__social">
            <svg class="svg-icon"><use xlink:href="#icon-insta"></use></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="model-block__right">
      <div class="model-block__photos">
        <div class="model-block__photo model-block__photo--lg">
          <img src="/images/model-img-1.png" alt="SolaZola">
        </div>
        <div class="model-block__photo model-block__photo--md">
          <img src="/images/model-img-2.png" alt="SolaZola">
        </div>
        <div class="model-block__photo model-block__photo--sm">
          <img src="/images/model-img-3.png" alt="SolaZola">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
	<div class="headline">
		<h2 class="title">ПОРНО С <span class="colored">SolaZola</span></h2>
		<nav class="sort">
			<ul class="drop">
				<li class="sort-item">
					<a href="#" class="link btn active">Новое</a>
				</li>
				<li class="sort-item wrap-dropdown">
					<button type="button" class="site-list js-dropdown btn">
						<span class="holder-icon">
							<span class="text">Лучшее</span>
							<svg class="svg-icon"><use xlink:href='#icon-arrow-down'/></svg>
						</span>
					</button>
					<ul class="dropdown">
						<li class="item">
							<a href="#" class="link">За неделю</a>
						</li>
						<li class="item">
							<a href="#" class="link">За месяц</a>
						</li>
						<li class="item">
							<a href="#" class="link">За всё время</a>
						</li>
						<li class="item">
							<a href="#" class="link">За сегодня</a>
						</li>
					</ul>
				</li>
				<li class="sort-item wrap-dropdown">
					<button type="button" class="site-list js-dropdown btn">
						<span class="holder-icon">
							<span class="text">Просматриваемое</span>
							<svg class="svg-icon"><use xlink:href='#icon-arrow-down'/></svg>
						</span>
					</button>
					<ul class="dropdown">
						<li class="item">
							<a href="#" class="link">За неделю</a>
						</li>
						<li class="item">
							<a href="#" class="link">За месяц</a>
						</li>
						<li class="item">
							<a href="#" class="link">За всё время</a>
						</li>
						<li class="item">
							<a href="#" class="link">За сегодня</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	{{> thumbs}}

	<div class="pagination-holder reload-wrap">
    <a href="#" class="btn">
      <span class="holder-icon">
        <span class="text">Показать ещё</span>
        <svg class="svg-icon"><use xlink:href="#icon-reload"></use></svg>
      </span>
    </a>
  </div>
</div>

{{> section-seo}}

{{> footer}}
