{{> header pageTitle="Models"}}

<div class="section">
	<div class="headline">
		<h1 class="title">Модели</h1>
		<nav class="sort">
			<ul class="drop">
				<li class="sort-item">
					<a href="#" class="link btn active">Новые</a>
				</li>
				<li class="sort-item">
					<a href="#" class="link btn">Популярные</a>
				</li>
				<li class="sort-item">
					<a href="#" class="link btn">Много видео</a>
				</li>
			</ul>
		</nav>
	</div>

	{{> thumbs-vertical}}

	{{> pagination}}
</div>

{{> section-seo}}

{{> footer}}
