{{> header pageTitle="My followers"}}

<div class="section">
	<div class="headline mob-cols2">
		<h1 class="title">Мои подписчики</h1>
		<nav class="sort">
			<ul class="drop">
				<li class="sort-item">
					<a href="my-subscribers-non.html" class="btn">Модели</a>
				</li>
				<li class="sort-item">
					<a href="my-followers-non.html" class="btn active">Сообщество</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="no-info">
		<svg class="svg-icon"><use xlink:href="#icon-no-heart"></use></svg>
		<div class="text-name">У Вас ещё нет подписчиков</div>
		<a href="#" class="btn-primary">На главную</a>
	</div>
</div>

{{> footer}}
