{{> header pageTitle="MP-popup-1"}}

<div class="bg-profile is-profile">
  <div class="bg-profile-block">
    <img src="images/temp/bg-profile.jpg" alt="bg-profile">
    <div class="decor-circle"></div>
  </div>
  <div class="bg-profile-container">
    <div class="wrap-dropdown btn-edit-cover">
      <button type="button" class="js-dropdown btn">
        <svg class="svg-icon">
          <use xlink:href="#icon-edit"></use>
        </svg>
        <span class="text">Изменить обложку</span>
      </button>
      <ul class="dropdown">
        <li class="item">
          <a href="#" class="btn">
            <svg class="svg-icon">
              <use xlink:href="#icon-image"></use>
            </svg>
            <span class="text">Загрузить</span>
          </a>
        </li>
        <li class="item is-active">
          <a href="#" class="btn">
            <svg class="svg-icon">
              <use xlink:href="#icon-crop"></use>
            </svg>
            <span class="text">Редактировать</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="btn danger">
            <svg class="svg-icon">
              <use xlink:href="#icon-delete"></use>
            </svg>
            <span class="text">Удалить</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="profile-cols-3">
  <div class="col-left">
    <div class="avatar">
      <!-- is avatar -->
      <img src="images/temp/ava-lg.jpg" alt="avatar" class="img">
      <!-- is avatar -->

      <!-- no avatar -->
      <!-- <svg class="svg-icon"><use xlink:href='#icon-user2'/></svg> -->
      <!-- no avatar -->

      <div class="online"></div>

      <div class="wrap-dropdown btn-edit-avatar">
        <button type="button" class="js-dropdown btn">
          <svg class="svg-icon">
            <use xlink:href="#icon-plus"></use>
          </svg>
        </button>
        <ul class="dropdown">
          <li class="item">
            <a href="#" class="btn">
              <svg class="svg-icon">
                <use xlink:href="#icon-photo"></use>
              </svg>
              <span class="text">Обновить аватар</span>
            </a>
          </li>
          <li class="item is-active">
            <a href="#" class="btn">
              <svg class="svg-icon">
                <use xlink:href="#icon-crop"></use>
              </svg>
              <span class="text">Изменить миниатюру</span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="btn danger">
              <svg class="svg-icon">
                <use xlink:href="#icon-delete"></use>
              </svg>
              <span class="text">Удалить аватар</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="buttons">
      <a href="#" class="btn">
        <svg class="svg-icon">
          <use xlink:href="#icon-edit"></use>
        </svg>
        <span class="text">Редактировать профиль</span>
      </a>
    </div>

    <div class="divider"></div>

    <div class="secret-room-block">
      <div class="text">Привяжите свой Secret Room</div>
      <input type="text" class="input-link" placeholder="Вставьте ссылку">
    </div>
  </div>
  <div class="col-main">
    <div class="model-block__title" data-title="maxpower">
      <span class="name">maxpower</span>
      <div class="wrap-img">
        <img src="images/svg/colore/premium-icon.svg" alt="icon">
        <img src="images/svg/colore/check.svg" alt="icon">
      </div>
    </div>
    <div class="row-box mobile-box">
      <div class="buttons">
        <a href="#" class="btn">
          <svg class="svg-icon">
            <use xlink:href="#icon-edit"></use>
          </svg>
          <span class="text">Редактировать профиль</span>
        </a>
      </div>
      <div class="secret-room-block">
        <div class="text">Привяжите свой Secret Room</div>
        <div class="input-link">
          <span class="placeholder">Вставьте ссылку</span>
        </div>
      </div>
    </div>
    <div class="row-box">
      <div class="profile-title">О СЕБЕ</div>
      <div class="profile-content">Люблю худых, ебу любых</div>
    </div>
    <div class="row-box mobile-box">
      <div class="wrap-dropdown profile-info">
        <button type="button" class="js-dropdown btn">
          <span class="holder-icon">
            <span class="text">ЛИЧНЫЕ ДАННЫЕ</span>
            <svg class="svg-icon">
              <use xlink:href="#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="personal-data dropdown">
          <div class="personal-item">
            <span class="label">Пол</span>
            <span class="value">
              <svg class="svg-icon">
                <use xlink:href='#icon-male' />
              </svg>
              <span class="name">Женский</span>
            </span>
          </div>
          <div class="personal-item">
            <span class="label">Возраст</span>
            <span class="value">19 лет</span>
          </div>
          <div class="personal-item">
            <span class="label">Рост</span>
            <span class="value">151 см</span>
          </div>
          <div class="personal-item">
            <span class="label">Вес</span>
            <span class="value">41 кг</span>
          </div>
          <div class="personal-item">
            <span class="label">Образование</span>
            <span class="value">Среднее</span>
          </div>
          <div class="personal-item">
            <span class="label">Профессия</span>
            <span class="value">Выдаю посылочки на Wildberies, а по выходным балую подписчиков пикантным контентом
              подписчиков на SecretRoom</span>
          </div>
          <div class="personal-item">
            <span class="label">Ориентация</span>
            <span class="value">Гетеро</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row-box">
      <div class="profile-title">ДРУЗЬЯ</div>
      <ul class="models-list">
        <li class="item">
          <a href="#" class="btn">
            <div class="avatar">
              <img src="images/temp/ava-sm.jpg" alt="avatar">
            </div>
            <span class="name">SolaZola</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="btn">
            <div class="avatar">
              <svg class="svg-icon">
                <use xlink:href="#icon-user2"></use>
              </svg>
            </div>
            <span class="name">Regina Bambina</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="btn">
            <div class="avatar">
              <svg class="svg-icon">
                <use xlink:href="#icon-user2"></use>
              </svg>
            </div>
            <span class="name">John Snow</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="btn">
            <div class="avatar">
              <img src="images/temp/ava-sm.jpg" alt="avatar">
            </div>
            <span class="name">Peter Parker</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="row-box">
      <div class="upload-buttons">
        <a href="#" class="btn">
          <svg class="svg-icon">
            <use xlink:href="#icon-plus-circle"></use>
          </svg>
          <span class="text">Загрузить видео</span>
        </a>
        <a href="#" class="btn">
          <svg class="svg-icon">
            <use xlink:href="#icon-plus-circle"></use>
          </svg>
          <span class="text">Загрузить альбом</span>
        </a>
      </div>
    </div>
    <div class="row-box">
      <div class="profile-title">ПУБЛИКАЦИИ</div>
      <div class="wrap-publications">
        <div class="row-publications">
          <div class="user-logged">
            <div class="avatar">
              <!-- is avatar -->
              <img src="images/temp/ava-sm.jpg" alt="avatar">
              <!-- is avatar -->

              <!-- no avatar -->
              <!-- <svg class="svg-icon"><use xlink:href='#icon-user2'/></svg> -->
              <!-- no avatar -->

            </div>
            <div class="name">maxpower</div>
            <div class="wrap-img">
              <img src="images/svg/colore/premium-icon.svg" alt="icon">
              <img src="images/svg/colore/check.svg" alt="icon">
            </div>
            <div class="time">1 час назад</div>
            <div class="wrap-dropdown meatballs-menu">
              <button type="button" class="js-dropdown btn">
                <svg class="svg-icon">
                  <use xlink:href="#icon-meatballs"></use>
                </svg>
              </button>
              <ul class="dropdown">
                <li class="item">
                  <a href="#" class="btn">
                    <span class="text">Редактировать</span>
                  </a>
                </li>
                <li class="item">
                  <a href="#" class="btn danger">
                    <span class="text">Удалить</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="user-text">Отдыхаем в Дубае с друзьями 🌴😎</div>
          <div class="player">
            <div class="player-holder">
              <div class="player-wrap">
                <img src="images/temp/video-player.jpg" alt="player" class="kt-player">
                <button type="button" class="btn-play">
                  <svg class="svg-icon">
                    <use xlink:href='#icon-play' />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="title title-publications">Отпуск 2025</div>
          <div class="info-buttons">
            <div class="rating-container">
              <!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
              <div class="rating btn">
                <div class="voters-holder">
                  <a href="#" class="rate-like rate liked">
                    <svg class="svg-icon">
                      <use xlink:href='#icon-like' />
                    </svg>
                    <span class="text">47</span>
                  </a>
                  <a href="#" class="rate-dislike rate">
                    <svg class="svg-icon">
                      <use xlink:href='#icon-dislike' />
                    </svg>
                    <span class="text">1</span>
                  </a>
                </div>
              </div>
              <!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
            </div>

            <div class="view-item">
              <svg class="svg-icon icon-eye">
                <use xlink:href="#icon-view"></use>
              </svg>
              <div class="text">116</div>
            </div>
          </div>
          {{> comment}}
        </div>

        <div class="row-publications">
          <div class="user-logged">
            <div class="avatar">
              <!-- is avatar -->
              <img src="images/temp/ava-sm.jpg" alt="avatar">
              <!-- is avatar -->

              <!-- no avatar -->
              <!-- <svg class="svg-icon"><use xlink:href='#icon-user2'/></svg> -->
              <!-- no avatar -->

            </div>
            <div class="name">maxpower</div>
            <div class="wrap-img">
              <img src="images/svg/colore/premium-icon.svg" alt="icon">
              <img src="images/svg/colore/check.svg" alt="icon">
            </div>
            <div class="time">1 месяц назад</div>
            <div class="wrap-dropdown meatballs-menu">
              <button type="button" class="js-dropdown btn">
                <svg class="svg-icon">
                  <use xlink:href="#icon-meatballs"></use>
                </svg>
              </button>
              <ul class="dropdown">
                <li class="item">
                  <a href="#" class="btn">
                    <span class="text">Редактировать</span>
                  </a>
                </li>
                <li class="item">
                  <a href="#" class="btn danger">
                    <span class="text">Удалить</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="user-text">Красивый вид вам в ленту</div>
          <div class="player">
            <div class="player-holder">
              <div class="player-wrap">
                <img src="images/temp/video-player.jpg" alt="player" class="kt-player">
                <button type="button" class="btn-play">
                  <svg class="svg-icon">
                    <use xlink:href='#icon-play' />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="title title-publications">Хорошо там где нас нет</div>
          <div class="info-buttons">
            <div class="rating-container">
              <!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
              <div class="rating btn">
                <div class="voters-holder">
                  <a href="#" class="rate-like rate">
                    <svg class="svg-icon">
                      <use xlink:href='#icon-like' />
                    </svg>
                  </a>
                  <a href="#" class="rate-dislike rate">
                    <svg class="svg-icon">
                      <use xlink:href='#icon-dislike' />
                    </svg>
                  </a>
                </div>
              </div>
              <!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
            </div>

            <div class="view-item">
              <svg class="svg-icon icon-eye">
                <use xlink:href="#icon-view"></use>
              </svg>
              <div class="text">97</div>
            </div>
          </div>
          {{> comment}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-right">
    <a href="#" class="followers-btn">
      <span class="value">2.6 тыс</span>
      <span class="text">подписчиков</span>
    </a>
    <div class="country-text">
      <svg class="svg-icon">
        <use xlink:href='#icon-location' />
      </svg>
      <div class="text">Казахстан</div>
    </div>

    <div class="profile-info">
      <div class="title-box">ЛИЧНЫЕ ДАННЫЕ</div>
      <div class="personal-data">
        <div class="personal-item">
          <span class="label">Пол</span>
          <span class="value">
            <svg class="svg-icon">
              <use xlink:href='#icon-male' />
            </svg>
            <span class="name">Мужской</span>
          </span>
        </div>
        <div class="personal-item">
          <span class="label">Возраст</span>
          <span class="value">26 лет</span>
        </div>
        <div class="personal-item">
          <span class="label">Рост</span>
          <span class="value">104 см</span>
        </div>
        <div class="personal-item">
          <span class="label">Вес</span>
          <span class="value">96 кг</span>
        </div>
        <div class="personal-item">
          <span class="label">Образование</span>
          <span class="value">Высшее (Бакалавр)</span>
        </div>
        <div class="personal-item">
          <span class="label">Профессия</span>
          <span class="value">UI/UX Designer</span>
        </div>
        <div class="personal-item">
          <span class="label">Ориентация</span>
          <span class="value">Гетеро</span>
        </div>
      </div>

    </div>

    <div class="favorite-categories-wrap">
      <div class="title-box">ЛЮБИМЫЕ КАТЕГОРИИ</div>
      <ul class="list">
        <li class="item">
          <a href="#" class="btn">Стройная</a>
        </li>
        <li class="item">
          <a href="#" class="btn">Брюнетка</a>
        </li>
        <li class="item">
          <a href="#" class="btn">Жёсткое</a>
        </li>
        <li class="item">
          <a href="#" class="btn">Бритая писька</a>
        </li>
        <li class="item">
          <a href="#" class="btn">Красивая грудь</a>
        </li>
        <li class="item">
          <a href="#" class="btn">Упругие сиськи</a>
        </li>
        <li class="item">
          <a href="#" class="btn">На кухне</a>
        </li>
        <li class="item">
          <a href="#" class="btn">Минет</a>
        </li>
        <li class="item">
          <a href="#" class="btn">Чулки</a>
        </li>
        <li class="item">
          <a href="#" class="btn">От первого лица</a>
        </li>
        <li class="item">
          <a href="#" class="btn">Русское</a>
        </li>
        <li class="item">
          <a href="#" class="btn">Домашнее</a>
        </li>
        <li class="item">
          <a href="#" class="btn">Подруга</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Upload Video Popup -->
<div class="my-profile-popup-1 open">
  <div class="popup-backdrop"></div>
  <div class="popup-container">
    <div class="popup-header">
      <div class="upload-icon upload-svg">
        <svg class="svg-icon">
          <use xlink:href="#icon-upload"></use>
        </svg>
      </div>
      <div class="header-text">
        <h3>Загрузка видео</h3>
        <p>Выберите видео для вашей новой публикации</p>
      </div>
      <button class="close-btn">
        <svg class="svg-icon">
          <use xlink:href="#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="popup-content">
      <div class="popup-step is-active" data-step="1">

        <div class="upload-rules">
          <p>Загружайте только те видео, которые вы сделали сами, или имеете право использовать. Запрещено размещение
            контента с участием лиц не достигших совершеннолетия.</p>
          <p>Любые видео могут быть удалены администрацией сайта без оповещения.</p>
        </div>

        <div class="upload-area">
          <button class="upload-btn">
            <div class="upload-icon">
              <svg class="svg-icon">
                <use xlink:href="#icon-upload"></use>
              </svg>
            </div>
            <span>Загрузить</span>
          </button>
          <p>Выберите файл или перетащите его сюда</p>
        </div>

        <div class="upload-list">
          <div class="upload-item completed">
            <div class="item-thumbnail">
              <img src="images/temp/thumb1.jpg" alt="Video thumbnail">
            </div>
            <div class="item-info">
              <div class="item-header">
                <div class="file-info">
                  <span class="file-name">IMG_9557</span>
                  <div class="file-details">
                    <span class="file-format">MP4</span>
                    <span class="file-quality">720p</span>
                  </div>
                </div>
                <button class="delete-btn">
                  <svg class='svg-icon'>
                    <use xlink:href='#icon-delete' />
                  </svg>
                </button>
              </div>
              <div class="item-progress">
                <div class="progress-info">
                  <span class="file-size">20 Мб / 20Мб</span>
                  <span class="separator"></span>
                  <div class="status completed">
                    <svg class='svg-icon'>
                      <use xlink:href='#icon-checked2' />
                    </svg>
                    <span>Готово</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="upload-item uploading">
            <div class="item-thumbnail">
              <img src="images/temp/thumb1.jpg" alt="Video thumbnail">
            </div>
            <div class="item-info">
              <div class="item-header">
                <div class="file-info">
                  <span class="file-name">IMG_9557</span>
                  <div class="file-details">
                    <span class="file-format">MP4</span>
                    <span class="file-quality">720p</span>
                  </div>
                </div>
                <button class="close-btn">
                  <svg class='svg-icon'>
                    <use xlink:href='#icon-close' />
                  </svg>
                </button>
              </div>
              <div class="item-progress">
                <div class="progress-info">
                  <span class="file-size">15 Мб / 20Мб</span>
                  <span class="separator"></span>
                  <div class="status uploading">
                    <svg class='svg-icon'>
                      <use xlink:href='#icon-loading-bold' />
                    </svg>
                    <span>Загрузка...</span>
                  </div>
                </div>
                <div class="progress-bar">
                  <div class="progress-fill" style="width: 75%; max-width: calc(100% - 60px);"></div>
                  <span class="progress-percent">75%</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="next-btn">Далее</button>
      </div>

      <div class="popup-step" data-step="2">
        <div class="cover-selector">
          <div class="cover-selector__title">
            Выберите обложку из нарезанных кадров
          </div>

          <div class="cover-selector__frames">
            <div class="video-cover-container">
              <div class="swiper main-preview">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="images/dubai-1.png" alt="Preview 1"></div>
                  <div class="swiper-slide"><img src="images/dubai-2.png" alt="Preview 2"></div>
                  <div class="swiper-slide"><img src="images/dubai-1.png" alt="Preview 3"></div>
                  <div class="swiper-slide"><img src="images/dubai-2.png" alt="Preview 4"></div>
                  <div class="swiper-slide"><img src="images/dubai-1.png" alt="Preview 5"></div>
                  <div class="swiper-slide"><img src="images/dubai-2.png" alt="Preview 6"></div>
                  <div class="swiper-slide"><img src="images/dubai-1.png" alt="Preview 7"></div>
                  <div class="swiper-slide"><img src="images/dubai-2.png" alt="Preview 8"></div>
                  <div class="swiper-slide"><img src="images/dubai-1.png" alt="Preview 9"></div>
                </div>
              </div>

              <div class="swiper thumbs-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="images/dubai-1.png" alt="Preview 1"></div>
                  <div class="swiper-slide"><img src="images/dubai-2.png" alt="Preview 2"></div>
                  <div class="swiper-slide"><img src="images/dubai-1.png" alt="Preview 3"></div>
                  <div class="swiper-slide"><img src="images/dubai-2.png" alt="Preview 4"></div>
                  <div class="swiper-slide"><img src="images/dubai-1.png" alt="Preview 5"></div>
                  <div class="swiper-slide"><img src="images/dubai-2.png" alt="Preview 6"></div>
                  <div class="swiper-slide"><img src="images/dubai-1.png" alt="Preview 7"></div>
                  <div class="swiper-slide"><img src="images/dubai-2.png" alt="Preview 8"></div>
                  <div class="swiper-slide"><img src="images/dubai-1.png" alt="Preview 9"></div>

                  <div class="swiper-slide upload-btn-slide">
                    <label class="upload-label">
                      <input type="file" accept="image/*" style="display: none;">
                      <span class="upload-content">
                        <svg class="icon-upload" width="20" height="20" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2">
                          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4M17 8l-5-5-5 5M12 3v12" />
                        </svg>
                        <span class="upload-text">Загрузить свою обложку</span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="cover-selector__actions">
            <button class="prev-btn js-prev-step">
              <span>Назад</span>
            </button>
            <button class="next-btn js-next-step">
              <span>Далее</span>
            </button>
          </div>
        </div>
      </div>

      <div class="popup-step" data-step="3">

        <div class="publish-form">

          <input type="text" class="publish-input" placeholder="Название видео">

          <textarea class="publish-textarea" placeholder="Описание"></textarea>

          <label class="wrap-checkbox publish-checkbox">Только для Premium пользователей
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>

          <div class="wizard-actions">
            <button class="btn-primary publish-btn">
              Опубликовать
            </button>

          </div>

        </div>

      </div>

    </div>
  </div>
</div>

{{> footer}}