{{> header pageTitle="Pricing"}}

<div class="popup popup-price open">
	<button type="button" class="popup-close btn">
		<svg class="svg-icon"><use xlink:href="#icon-arrow2-left"></use></svg>
		<span class="text">Назад</span>
	</button>

	<div class="popup-content">
		<div class="block-radios first">
			<div class="popup-heading">
				<div class="top-text">Выберите <span class="decor">подходящий тариф</span></div>
				<div class="bottom-text">Больше видео, больше возможностей, больше впечатлений.</div>
			</div>

			<form action="#">
				<div class="button-group swiper subscription-slider">
					<div class="swiper-wrapper">
						<div class="row swiper-slide">
							<label class="wrap-radio">
								<span class="wrap-bg">
									<span class="bg">Light</span>
								</span>
								Light
								<span class="period-text">1 МЕСЯЦ</span>
								<input type="radio" name="radio1">
								<span class="checkmark"></span>

								<div class="block-discount">
									<div class="left-col">
										<div class="discount-badge">
											<svg class="svg-icon"><use xlink:href="#icon-fire"></use></svg>
											<div class="text">Скидка 50%</div>
										</div>
										<div class="old-price">₽200</div>
										<div class="new-price">
											<b class="bold">₽100</b> /месяц
										</div>
										<div class="total-price">Итого: ₽100</div>
									</div>

									<button type="sudmit" class="btn-submit btn-primary light-btn">Приобрести</button>

									<div class="right-col">
										<ul class="list">
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Полное отсутствие рекламы</div>
											</li>
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Доступ ко всем Premium видео</div>
											</li>
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Общение в чате без ограничений</div>
											</li>
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Скачивание любого видео</div>
											</li>
										</ul>
									</div>
								</div>
							</label>
						</div>
						<div class="row swiper-slide">
							<label class="wrap-radio decor-wrap">
								<span class="wrap-bg">
									<span class="bg">Standart</span>
								</span>
								Standart
								<span class="period-text">3 МЕСЯЦА</span>
								<input type="radio" checked="checked" name="radio1">
								<span class="checkmark"></span>
								<span class="decor-name">Популярный</span>

								<div class="block-discount">
									<div class="left-col">
										<div class="discount-badge">
											<svg class="svg-icon"><use xlink:href="#icon-fire"></use></svg>
											<div class="text">Скидка 50%</div>
										</div>
										<div class="old-price">₽36</div>
										<div class="new-price">
											<b class="bold">₽100</b> /месяц
										</div>
										<div class="total-price">Итого: ₽300</div>
									</div>

									<button type="sudmit" class="btn-submit btn-primary">Приобрести</button>

									<div class="right-col">
										<ul class="list">
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Полное отсутствие рекламы</div>
											</li>
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Доступ ко всем Premium видео</div>
											</li>
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Общение в чате без ограничений</div>
											</li>
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Скачивание любого видео</div>
											</li>
										</ul>
									</div>
								</div>
							</label>
						</div>
						<div class="row swiper-slide">
							<label class="wrap-radio">
								<span class="wrap-bg">
									<span class="bg">Ultimate</span>
								</span>
								Ultimate
								<span class="period-text">1 ГОД</span>
								<input type="radio" name="radio1">
								<span class="checkmark"></span>

								<div class="block-discount">
									<div class="left-col">
										<div class="discount-badge">
											<svg class="svg-icon"><use xlink:href="#icon-fire"></use></svg>
											<div class="text">Скидка 50%</div>
										</div>
										<div class="old-price">₽24</div>
										<div class="new-price">
											<b class="bold">₽100</b> /месяц
										</div>
										<div class="total-price">Итого: ₽1000</div>
									</div>

									<button type="sudmit" class="btn-submit btn-primary light-btn">Приобрести</button>

									<div class="right-col">
										<ul class="list">
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Полное отсутствие рекламы</div>
											</li>
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Доступ ко всем Premium видео</div>
											</li>
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Общение в чате без ограничений</div>
											</li>
											<li class="item">
												<svg class="svg-icon"><use xlink:href="#icon-checked"></use></svg>
												<div class="name">Скачивание любого видео</div>
											</li>
										</ul>
									</div>
								</div>
							</label>
						</div>
					</div>
					<div class="subscription-slider-pagination"></div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="section">
	<div class="block-video block-video-premium">
		<div class="content-video">
			<div class="player-holder">
				<div class="player">
					<div class="player-holder">
						<div class="player-wrap">
							<img src="images/temp/video-player.jpg" alt="player" class="kt-player">

							<span class="premium-badge">
								<img src="images/svg/colore/premium-icon.svg" class="icon" alt="icon">
								<span class="text">Premium</span>
							</span>

							<a href="#" class="btn-primary">Получить полный доступ к видео</a>
						</div>
					</div>
				</div>
				<h1 class="title lg">Наглядный пример что нужно делать, когда нет наличных для грузчика</h1>
				<div class="video-holder">
					<div class="info-buttons">
						<div class="rating-container">
							<!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
							<div class="rating btn">
								<div class="voters-holder">
									<a href="#" class="rate-like rate liked">
										<svg class="svg-icon"><use xlink:href='#icon-like'/></svg>
										<span class="text">1.4 тыс</span>
									</a>
									<a href="#" class="rate-dislike rate disliked">
										<svg class="svg-icon"><use xlink:href='#icon-dislike'/></svg>
										<span class="text">23</span>
									</a>
								</div>
							</div>
							<!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
							<a href="#" class="btn btn-favourites">
								<svg class="svg-icon"><use xlink:href='#icon-star'/></svg>
							</a>
						</div>
						<ul class="tabs-menu">
							<li class="item-menu">
								<a href="#tab_video_info" class="btn toggle-button active">
									<svg class="svg-icon"><use xlink:href='#icon-info'/></svg>
									<span class="text">Информация</span>
								</a>
							</li>
							<li class="item-menu">
								<a href="#tab_screenshots" class="btn toggle-button">
									<svg class="svg-icon"><use xlink:href='#icon-screenshot'/></svg>
									<span class="text">Скриншоты</span>
								</a>
							</li>
							<li class="item-menu">
								<a href="#tab_share" class="btn toggle-button">
									<svg class="svg-icon"><use xlink:href='#icon-share'/></svg>
									<span class="text">Поделиться</span>
								</a>
							</li>
							<li class="item-menu">
								<button type="button" class="btn btn-popup">
									<svg class="svg-icon"><use xlink:href='#icon-abuse2'/></svg>
									<span class="text">Жалоба</span>
								</button>
							</li>
							<li class="item-menu wrap-dropdown wrap-dropdown-fixed">
								<button type="button" class="btn js-dropdown">
									<svg class="svg-icon"><use xlink:href='#icon-download'/></svg>
									<span class="text">Скачать</span>
									<svg class="svg-icon arrow"><use xlink:href='#icon-arrow-down'/></svg>
								</button>
								<ul class="dropdown">
									<li class="item">
										<a href="#" class="link">
											<span class="col-left">
												<span class="mp4">MP4</span>
												<span class="text">360p</span>
											</span>
											<span class="col-right">36.31 Mb</span>
										</a>
									</li>
									<li class="item">
										<a href="#" class="link">
											<span class="col-left">
												<span class="mp4">MP4</span>
												<span class="text">720p</span>
											</span>
											<span class="col-right">94.46 Mb</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div id="tab_video_info" class="tab-content active">
						<ul class="info-list">
							<li class="item">
								<svg class="svg-icon icon-eye"><use xlink:href='#icon-view'/></svg>
								<div class="text">7 250</div>
							</li>
							<li class="item">
								<svg class="svg-icon"><use xlink:href='#icon-clock'/></svg>
								<div class="text">23:12</div>
							</li>
							<li class="item">
								<svg class="svg-icon"><use xlink:href='#icon-calendar'/></svg>
								<div class="text">2 дня назад</div>
							</li>
						</ul>
						<div class="video-info">Сола та еще мастерица попадать в неловкие ситуации, особенно, которые можно решить через свою писю. Она будто притягивает разврат и члены к своим дырочкам. Сегодня даже с грузчиком пришлось трахнуться, чтобы оплатить доставку, ведь наличных-то дома не оказалось. Теперь этот парнишка будет заезжать почаще на адрес красотки.</div>
					</div>
					<div id="tab_screenshots" class="tab-content">
						<div class="block-img block-screenshots margin-fix">
							{{#repeat 11}}
								<div class="item">
									<a href="#" class="thumb-wrap">
										<span class="img-holder">
											<img src="images/temp/thumb1.jpg" alt="img" class="thumb">
										</span>
									</a>
								</div>
							{{/repeat}}
						</div>
					</div>
					<div id="tab_share" class="tab-content">
						<div class="block-share">
							<form action="#" class="form-group">
								<div class="row">
									<label for="share_link" class="field-label">Ссылка на видео</label>
									<div class="wrap-input">
										<input type="text" class="input" id="share_link" value="https://wvw.pornoafisha/videos/sobesedovanie-za-ramkami-prilichiya/" readonly="">
										<button type="button" class="btn-primary js-btn-copy">Скопировать</button>
									</div>
								</div>
								<div class="row">
									<label for="share_bb_code" class="field-label">BB код</label>
									<div class="wrap-input">
										<input type="text" class="input" id="share_bb_code" value="[url=https://wvw.pornoafisha/videos/sobesedovanie-za-ramkami-prilichiya/]" readonly="">
										<button type="button" class="btn-primary js-btn-copy">Скопировать</button>
									</div>
								</div>
								<div class="row">
									<ul class="social-list">
										<li class="item">
											<a href="#" class="link vk">
												<svg class="svg-icon"><use xlink:href='#icon-vk'/></svg>
											</a>
										</li>
										<li class="item">
											<a href="#" class="link telegram">
												<svg class="svg-icon"><use xlink:href='#icon-telegram'/></svg>
											</a>
										</li>
										<li class="item">
											<a href="#" class="link insta">
												<svg class="svg-icon"><use xlink:href='#icon-insta'/></svg>
												<img src="images/svg/colore/insta.svg" alt="insta" class="img">
											</a>
										</li>
										<li class="item">
											<a href="#" class="link whatsapp">
												<svg class="svg-icon"><use xlink:href='#icon-whatsapp'/></svg>
											</a>
										</li>
										<li class="item">
											<a href="#" class="link facebook">
												<svg class="svg-icon"><use xlink:href='#icon-facebook'/></svg>
											</a>
										</li>
										<li class="item">
											<a href="#" class="link viber">
												<svg class="svg-icon"><use xlink:href='#icon-viber'/></svg>
											</a>
										</li>
										<li class="item">
											<a href="#" class="link odnoklassniki">
												<svg class="svg-icon"><use xlink:href='#icon-odnoklassniki'/></svg>
											</a>
										</li>
									</ul>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-content report-wrap popup">
						<div class="popup-content">
							<div class="inner-box">
								<button type="button" class="popup-close">
									<svg class="svg-icon"><use xlink:href="#icon-close"></use></svg>
								</button>

								<div class="block-flagging">
									<form action="#">
										<div class="flagging-form">
											<div class="block-radios">
												<div class="button-group">
													<label class="field-label">Пожаловаться на видео</label>
													<div class="row">
														<label class="wrap-radio">Неподходящее
															<input type="radio" checked="checked" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
													<div class="row">
														<label class="wrap-radio">Ошибка (нет изображения или звука)
															<input type="radio" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
													<div class="row">
														<label class="wrap-radio">Нарушение авторского права
															<input type="radio" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
													<div class="row">
														<label class="wrap-radio">Другое
															<input type="radio" name="radio">
															<span class="checkmark"></span>
														</label>
													</div>
												</div>
											</div>
											<div class="block-textarea">
												<label for="flag_message" class="field-label">Причина (необязательно)</label>
												<textarea id="flag_message" class="textarea" placeholder="Введите коментарий"></textarea>
											</div>

											<button type="submit" class="btn-primary">Отправить</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="wrap-box">
						<div class="label-title">МОДЕЛИ НА ВИДЕО</div>
						<ul class="models-list">
							<li class="item">
								<a href="#" class="btn">
									<div class="avatar">
							    		<img src="images/temp/ava-sm.jpg" alt="avatar">
							    	</div>
									<span class="name">SolaZola</span>
								</a>
							</li>
							<li class="item">
								<a href="#" class="btn">
									<div class="avatar">
							    		<svg class="svg-icon"><use xlink:href="#icon-user2"></use></svg>
							    	</div>
									<span class="name">Regina Bambina</span>
								</a>
							</li>
							<li class="item">
								<a href="#" class="btn">
									<div class="avatar">
							    		<svg class="svg-icon"><use xlink:href="#icon-user2"></use></svg>
							    	</div>
									<span class="name">John Snow</span>
								</a>
							</li>
							<li class="item">
								<a href="#" class="btn">
									<div class="avatar">
							    		<img src="images/temp/ava-sm.jpg" alt="avatar">
							    	</div>
									<span class="name">Peter Parker</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="wrap-box">
						<div class="label-title">В ЭТОМ ВИДЕО</div>
						<ul class="btn-list">
							<li class="item">
								<a href="#" class="btn">Стройная</a>
							</li>
							<li class="item">
								<a href="#" class="btn">Брюнетка</a>
							</li>
							<li class="item">
								<a href="#" class="btn">Жёсткое</a>
							</li>
							<li class="item">
								<a href="#" class="btn">Бритая писька</a>
							</li>
							<li class="item">
								<a href="#" class="btn">Красивая грудь</a>
							</li>
							<li class="item">
								<a href="#" class="btn">Упругие сиськи</a>
							</li>
							<li class="item">
								<a href="#" class="btn">На кухне</a>
							</li>
							<li class="item">
								<a href="#" class="btn">Минет</a>
							</li>
							<li class="item">
								<a href="#" class="btn">Чулки</a>
							</li>
							<li class="item">
								<a href="#" class="btn">От первого лица</a>
							</li>
							<li class="item">
								<a href="#" class="btn">От первого лица</a>
							</li>
							<li class="item">
								<a href="#" class="btn">Домашнее</a>
							</li>
							<li class="item">
								<a href="#" class="btn">Подруга</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="right-column">
				<div class="block">
					<div class="wrap-block">
						<div class="premium-top-text">Это видео доступно только Premium подписчикам</div>
						<div class="premium-bottom-text">Оформи любую из подписок и открой доступ к эксклюзивным материалам, которые не увидишь в открытом доступе.</div>
					</div>
				</div>
				<div class="block">
					<form action="#">
						<div class="flagging-form">
							<div class="block">
								<div class="block-radios first">
									<div class="button-group">
										<div class="row">
											<label class="wrap-radio">
												<span class="wrap-bg">
													<span class="bg">Light</span>
												</span>
												Light
												<span class="period-text">1 МЕСЯЦ</span>
												<input type="radio" name="radio1">
												<span class="checkmark"></span>
											</label>
										</div>
										<div class="row">
											<label class="wrap-radio decor-wrap">
												<span class="wrap-bg">
													<span class="bg">Standart</span>
												</span>
												Standart
												<span class="period-text">3 МЕСЯЦА</span>
												<input type="radio" checked="checked" name="radio1">
												<span class="checkmark"></span>
												<span class="decor-name">Популярный</span>
											</label>
										</div>
										<div class="row">
											<label class="wrap-radio">
												<span class="wrap-bg">
													<span class="bg">Ultimate</span>
												</span>
												Ultimate
												<span class="period-text">1 ГОД</span>
												<input type="radio" name="radio1">
												<span class="checkmark"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="block-discount">
								<div class="left-col">
									<div class="discount-badge">
										<svg class="svg-icon"><use xlink:href='#icon-fire'/></svg>
										<div class="text">Скидка 50%</div>
									</div>
									<div class="old-price">₽200</div>
									<div class="new-price">
										<b class="bold">₽100</b> /месяц
									</div>
									<div class="total-price">Итого: ₽300</div>
								</div>
								<div class="right-col">
									<ul class="list">
										<li class="item">
											<svg class="svg-icon"><use xlink:href='#icon-checked'/></svg>
											<div class="name">Полное отсутствие рекламы</div>
										</li>
										<li class="item">
											<svg class="svg-icon"><use xlink:href='#icon-checked'/></svg>
											<div class="name">Доступ ко всем Premium видео</div>
										</li>
										<li class="item">
											<svg class="svg-icon"><use xlink:href='#icon-checked'/></svg>
											<div class="name">Общение в чате без ограничений</div>
										</li>
										<li class="item">
											<svg class="svg-icon"><use xlink:href='#icon-checked'/></svg>
											<div class="name">Скачивание любого видео</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="block-radios second">
								<div class="button-group">
									<div class="row">
										<label class="wrap-radio">
											<img src="images/svg/colore/sbp.svg" alt="СБП" class="icon">
											СБП
											<input type="radio" checked="checked" name="radio">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="row">
										<label class="wrap-radio">
											<svg class="svg-icon icon tg"><use xlink:href='#icon-star-telegram'/></svg>
											Telegram stars
											<input type="radio" name="radio">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="row">
										<label class="wrap-radio">
											<img src="images/svg/colore/crypto.svg" alt="crypto" class="icon">
											Crypto
											<input type="radio" name="radio">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>

							<button type="submit" class="btn-primary">Приобрести</button>
						</div>
					</form>
				</div>
				<div class="block">Вы можете отменить подписку в любой момент</div>
			</div>
		</div>
	</div>
</div>

{{> section-seo}}

{{> footer}}
