{{> header pageTitle="User profile not file"}}

<div class="bg-profile">
	<div class="decor-circle"></div>
</div>

<div class="profile-cols-3">
	<div class="col-left">
		<div class="avatar">
    		<!-- is avatar -->
    			<!-- <img src="images/temp/ava-lg.jpg" alt="avatar" class="img"> -->
    		<!-- is avatar -->

    		<!-- no avatar -->
    			<svg class="svg-icon"><use xlink:href='#icon-user2'/></svg>
    		<!-- no avatar -->

    		<div class="online"></div>
    	</div>

    	<div class="buttons">
	    	<a href="#" class="btn">
				<svg class="svg-icon"><use xlink:href="#icon-add-friend"></use></svg>
				<span class="text">Добавить в друзья</span>
			</a>
			<a href="#" class="btn">
				<svg class="svg-icon"><use xlink:href="#icon-message"></use></svg>
				<span class="text">Сообщение</span>
			</a>
		</div>
	</div>
	<div class="col-main">
		<div class="model-block__title" data-title="necheevna">
			<span class="name">necheevna</span>
			<div class="wrap-img">
	    		<img src="images/svg/colore/premium-icon.svg" alt="icon">
	    		<img src="images/svg/colore/check.svg" alt="icon">
	    	</div>
	    	<div class="wrap-dropdown">
				<button type="button" class="js-dropdown btn">
					<span class="dot"></span>
					<span class="dot"></span>
					<span class="dot"></span>
				</button>
				<ul class="dropdown">
					<li class="item">
						<a href="#" class="btn">
							<svg class="svg-icon"><use xlink:href="#icon-lock"></use></svg>
							<span class="text">Заблокировать</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row-box mobile-box">
			<div class="buttons">
		    	<a href="#" class="btn">
					<svg class="svg-icon"><use xlink:href="#icon-add-friend"></use></svg>
					<span class="text">Добавить в друзья</span>
				</a>
				<a href="#" class="btn">
					<svg class="svg-icon"><use xlink:href="#icon-message"></use></svg>
					<span class="text">Сообщение</span>
				</a>
			</div>
		</div>
		<div class="row-box">
			<div class="profile-title">О СЕБЕ</div>
			<div class="profile-content">Нет данных</div>
		</div>
		<div class="row-box mobile-box">
			<div class="wrap-dropdown profile-info">
				<button type="button" class="js-dropdown btn">
					<span class="holder-icon">
						<span class="text">ЛИЧНЫЕ ДАННЫЕ</span>
						<svg class="svg-icon"><use xlink:href="#icon-arrow-down"></use></svg>
					</span>
				</button>

				<div class="personal-data dropdown">
					<div class="personal-item">
						<span class="label">Пол</span>
						<span class="value">
							<svg class="svg-icon"><use xlink:href='#icon-male'/></svg>
							<span class="name">Женский</span>
						</span>
					</div>
					<div class="personal-item">
						<span class="label">Возраст</span>
						<span class="value">19 лет</span>
					</div>
					<div class="personal-item">
						<span class="label">Рост</span>
						<span class="value">151 см</span>
					</div>
					<div class="personal-item">
						<span class="label">Вес</span>
						<span class="value">41 кг</span>
					</div>
					<div class="personal-item">
						<span class="label">Образование</span>
						<span class="value">Среднее</span>
					</div>
					<div class="personal-item">
						<span class="label">Профессия</span>
						<span class="value">Выдаю посылочки на Wildberies, а по выходным балую подписчиков пикантным контентом подписчиков на SecretRoom</span>
					</div>
					<div class="personal-item">
						<span class="label">Ориентация</span>
						<span class="value">Гетеро</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-box">
			<div class="profile-title">ДРУЗЬЯ</div>
			<div class="profile-content">Пока нет ни одного друга</div>
		</div>
		<div class="row-box">
			<div class="profile-title">ПУБЛИКАЦИИ</div>

			<div class="not-file-img">
				<img src="images/svg/colore/no-post.svg" alt="no-post">
			</div>
			<div class="not-file-text">Нет публикаций</div>
		</div>
	</div>
	<div class="col-right">
		<a href="#" class="followers-btn">
			<span class="value">0</span>
			<span class="text">подписчиков</span>
		</a>
		<a href="#" class="model-block__subscribe">
        	<svg class="svg-icon"><use xlink:href="#icon-heart"></use></svg>
        	<span>Подписаться</span>
        </a>
	</div>
</div>

{{> footer}}
