{{> header pageTitle="User profile"}}

<div class="bg-profile is-profile">
	<img src="images/temp/bg-profile.jpg" alt="bg-profile">
	<div class="decor-circle"></div>
</div>

<div class="profile-cols-3">
	<div class="col-left">
		<div class="avatar">
    		<!-- is avatar -->
    			<img src="images/temp/ava-lg.jpg" alt="avatar" class="img">
    		<!-- is avatar -->

    		<!-- no avatar -->
    			<!-- <svg class="svg-icon"><use xlink:href='#icon-user2'/></svg> -->
    		<!-- no avatar -->

    		<div class="online"></div>
    	</div>

    	<div class="buttons">
	    	<a href="#" class="btn">
				<svg class="svg-icon"><use xlink:href="#icon-add-friend"></use></svg>
				<span class="text">Добавить в друзья</span>
			</a>
			<a href="#" class="btn">
				<svg class="svg-icon"><use xlink:href="#icon-message"></use></svg>
				<span class="text">Сообщение</span>
			</a>
		</div>

		<div class="adv-block">
			<div class="wrap-img">
				<img src="images/temp/adv-profile.jpg" alt="adv" class="img">
			</div>
			<div class="text">Тут я продаю самый сочный контент. Заходи на мой Secret Room!</div>
		</div>
	</div>
	<div class="col-main">
		<div class="model-block__title" data-title="necheevna">
			<span class="name">necheevna</span>
			<div class="wrap-img">
	    		<img src="images/svg/colore/premium-icon.svg" alt="icon">
	    		<img src="images/svg/colore/check.svg" alt="icon">
	    	</div>
	    	<div class="wrap-dropdown">
				<button type="button" class="js-dropdown btn">
					<span class="dot"></span>
					<span class="dot"></span>
					<span class="dot"></span>
				</button>
				<ul class="dropdown">
					<li class="item">
						<a href="#" class="btn">
							<svg class="svg-icon"><use xlink:href="#icon-lock"></use></svg>
							<span class="text">Заблокировать</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row-box mobile-box">
			<div class="buttons">
		    	<a href="#" class="btn">
					<svg class="svg-icon"><use xlink:href="#icon-add-friend"></use></svg>
					<span class="text">Добавить в друзья</span>
				</a>
				<a href="#" class="btn">
					<svg class="svg-icon"><use xlink:href="#icon-message"></use></svg>
					<span class="text">Сообщение</span>
				</a>
			</div>
			<div class="adv-block">
				<div class="wrap-img">
					<img src="images/temp/adv-profile.jpg" alt="adv" class="img">
				</div>
				<div class="text">Тут я продаю самый сочный контент. Заходи на мой Secret Room!</div>
			</div>
		</div>
		<div class="row-box">
			<div class="profile-title">О СЕБЕ</div>
			<div class="profile-content">Милая, заботливая и с чувством юмора ищу того, кто оценит </div>
		</div>
		<div class="row-box mobile-box">
			<div class="wrap-dropdown profile-info">
				<button type="button" class="js-dropdown btn">
					<span class="holder-icon">
						<span class="text">ЛИЧНЫЕ ДАННЫЕ</span>
						<svg class="svg-icon"><use xlink:href="#icon-arrow-down"></use></svg>
					</span>
				</button>

				<div class="personal-data dropdown">
					<div class="personal-item">
						<span class="label">Пол</span>
						<span class="value">
							<svg class="svg-icon"><use xlink:href='#icon-male'/></svg>
							<span class="name">Женский</span>
						</span>
					</div>
					<div class="personal-item">
						<span class="label">Возраст</span>
						<span class="value">19 лет</span>
					</div>
					<div class="personal-item">
						<span class="label">Рост</span>
						<span class="value">151 см</span>
					</div>
					<div class="personal-item">
						<span class="label">Вес</span>
						<span class="value">41 кг</span>
					</div>
					<div class="personal-item">
						<span class="label">Образование</span>
						<span class="value">Среднее</span>
					</div>
					<div class="personal-item">
						<span class="label">Профессия</span>
						<span class="value">Выдаю посылочки на Wildberies, а по выходным балую подписчиков пикантным контентом подписчиков на SecretRoom</span>
					</div>
					<div class="personal-item">
						<span class="label">Ориентация</span>
						<span class="value">Гетеро</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-box">
			<div class="profile-title">ДРУЗЬЯ</div>
			<ul class="models-list">
				<li class="item">
					<a href="#" class="btn">
						<div class="avatar">
				    		<img src="images/temp/ava-sm.jpg" alt="avatar">
				    	</div>
						<span class="name">SolaZola</span>
					</a>
				</li>
				<li class="item">
					<a href="#" class="btn">
						<div class="avatar">
				    		<svg class="svg-icon"><use xlink:href="#icon-user2"></use></svg>
				    	</div>
						<span class="name">Regina Bambina</span>
					</a>
				</li>
				<li class="item">
					<a href="#" class="btn">
						<div class="avatar">
				    		<svg class="svg-icon"><use xlink:href="#icon-user2"></use></svg>
				    	</div>
						<span class="name">John Snow</span>
					</a>
				</li>
				<li class="item">
					<a href="#" class="btn">
						<div class="avatar">
				    		<img src="images/temp/ava-sm.jpg" alt="avatar">
				    	</div>
						<span class="name">Peter Parker</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="row-box">
			<div class="profile-title">ПУБЛИКАЦИИ</div>
			<div class="wrap-publications">
				<div class="row-publications">
					<div class="user-logged">
				    	<div class="avatar">
				    		<!-- is avatar -->
				    			<img src="images/temp/ava-sm.jpg" alt="avatar">
				    		<!-- is avatar -->

				    		<!-- no avatar -->
				    		<!-- <svg class="svg-icon"><use xlink:href='#icon-user2'/></svg> -->
				    		<!-- no avatar -->

				    	</div>
				    	<div class="name">maxpower</div>
				    	<div class="wrap-img">
				    		<img src="images/svg/colore/premium-icon.svg" alt="icon">
				    		<img src="images/svg/colore/check.svg" alt="icon">
				    	</div>
				    	<div class="time">1 час назад</div>
				    </div>
				    <div class="user-text">Похудела к лету и хвастаюсь своей новой фигуркой </div>
					<div class="player">
						<div class="player-holder">
							<div class="player-wrap">
								<img src="images/temp/video-player.jpg" alt="player" class="kt-player">
								<button type="button" class="btn-play">
									<svg class="svg-icon"><use xlink:href='#icon-play'/></svg>
								</button>
							</div>
						</div>
					</div>
					<div class="title title-publications">Наглядный пример когда желание превыше всего!</div>
					<div class="info-buttons">
						<div class="rating-container">
							<!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
							<div class="rating btn">
								<div class="voters-holder">
									<a href="#" class="rate-like rate liked">
										<svg class="svg-icon"><use xlink:href='#icon-like'/></svg>
										<span class="text">47</span>
									</a>
									<a href="#" class="rate-dislike rate">
										<svg class="svg-icon"><use xlink:href='#icon-dislike'/></svg>
										<span class="text">1</span>
									</a>
								</div>
							</div>
							<!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
						</div>

						<div class="view-item">
							<svg class="svg-icon icon-eye"><use xlink:href="#icon-view"></use></svg>
							<div class="text">116</div>
						</div>
					</div>
					{{> comment}}
				</div>

				<div class="row-publications">
					<div class="user-logged">
				    	<div class="avatar">
				    		<!-- is avatar -->
				    			<!-- <img src="images/temp/ava-sm.jpg" alt="avatar"> -->
				    		<!-- is avatar -->

				    		<!-- no avatar -->
				    		<svg class="svg-icon"><use xlink:href='#icon-user2'/></svg>
				    		<!-- no avatar -->

				    	</div>
				    	<div class="name">necheevna</div>
				    	<div class="wrap-img">
				    		<img src="images/svg/colore/premium-icon.svg" alt="icon">
				    		<img src="images/svg/colore/check.svg" alt="icon">
				    	</div>
				    	<div class="time">2 часа назад</div>
				    </div>
				    <div class="user-text">Скоро выложу свою обновлённую фигурку. 3 месяца похудения</div>
					<div class="info-buttons">
						<div class="rating-container">
							<!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
							<div class="rating btn">
								<div class="voters-holder">
									<a href="#" class="rate-like rate">
										<svg class="svg-icon"><use xlink:href='#icon-like'/></svg>
									</a>
									<a href="#" class="rate-dislike rate">
										<svg class="svg-icon"><use xlink:href='#icon-dislike'/></svg>
									</a>
								</div>
							</div>
							<!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
						</div>

						<div class="view-item">
							<svg class="svg-icon icon-eye"><use xlink:href="#icon-view"></use></svg>
							<div class="text">26</div>
						</div>
					</div>
					{{> comment}}
				</div>

				<div class="row-publications">
					<div class="user-logged">
				    	<div class="avatar">
				    		<!-- is avatar -->
				    			<img src="images/temp/ava-sm.jpg" alt="avatar">
				    		<!-- is avatar -->

				    		<!-- no avatar -->
				    		<!-- <svg class="svg-icon"><use xlink:href='#icon-user2'/></svg> -->
				    		<!-- no avatar -->

				    	</div>
				    	<div class="name">maxpower</div>
				    	<div class="wrap-img">
				    		<img src="images/svg/colore/premium-icon.svg" alt="icon">
				    		<img src="images/svg/colore/check.svg" alt="icon">
				    	</div>
				    	<div class="time">1 час назад</div>
				    </div>
				    <div class="user-text">Банные процедуры 💦🌊</div>
					<div class="player">
						<div class="player-holder">
							<div class="player-wrap premium-thumb">
								<img src="images/temp/video-player.jpg" alt="player" class="kt-player">
								<button type="button" class="btn-play">
									<svg class="svg-icon"><use xlink:href='#icon-play'/></svg>
								</button>
								<span class="premium-badge">
									<img src="images/svg/colore/premium-icon.svg" class="icon" alt="icon">
									<span class="text">Premium</span>
								</span>
								<span class="viewed-wrap"></span>
							</div>
						</div>
					</div>
					<div class="title title-publications">Джакузи с шампанским</div>
					<div class="info-buttons">
						<div class="rating-container">
							<!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
							<div class="rating btn">
								<div class="voters-holder">
									<a href="#" class="rate-like rate liked">
										<svg class="svg-icon"><use xlink:href='#icon-like'/></svg>
										<span class="text">47</span>
									</a>
									<a href="#" class="rate-dislike rate">
										<svg class="svg-icon"><use xlink:href='#icon-dislike'/></svg>
										<span class="text">1</span>
									</a>
								</div>
							</div>
							<!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
						</div>

						<div class="view-item">
							<svg class="svg-icon icon-eye"><use xlink:href="#icon-view"></use></svg>
							<div class="text">97</div>
						</div>
					</div>
					{{> comment}}
				</div>

				<div class="row-publications">
					<div class="user-logged">
				    	<div class="avatar">
				    		<!-- is avatar -->
				    			<!-- <img src="images/temp/ava-sm.jpg" alt="avatar"> -->
				    		<!-- is avatar -->

				    		<!-- no avatar -->
				    		<svg class="svg-icon"><use xlink:href='#icon-user2'/></svg>
				    		<!-- no avatar -->

				    	</div>
				    	<div class="name">necheevna</div>
				    	<div class="wrap-img">
				    		<img src="images/svg/colore/premium-icon.svg" alt="icon">
				    		<img src="images/svg/colore/check.svg" alt="icon">
				    	</div>
				    	<div class="time">2 часа назад</div>
				    </div>
				    <div class="user-text">Скоро выложу свою обновлённую фигурку. 3 месяца похудения</div>
				    <div class="grid-masonry">
				    	<div class="grid-sizer"></div>
						<div class="grid-item">
							<img src="images/temp/masonry1.jpg" alt="item" class="img">
						</div>
						<div class="grid-item">
							<img src="images/temp/masonry2.jpg" alt="item" class="img">
						</div>
						<div class="grid-item">
							<img src="images/temp/masonry3.jpg" alt="item" class="img">
						</div>
						<div class="grid-item">
							<img src="images/temp/masonry4.jpg" alt="item" class="img">
						</div>
					</div>
				    <div class="title title-publications">Джакузи с шампанским</div>
					<div class="info-buttons">
						<div class="rating-container">
							<!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
							<div class="rating btn">
								<div class="voters-holder">
									<a href="#" class="rate-like rate">
										<svg class="svg-icon"><use xlink:href='#icon-like'/></svg>
									</a>
									<a href="#" class="rate-dislike rate disliked">
										<svg class="svg-icon"><use xlink:href='#icon-dislike'/></svg>
										<span class="text">1</span>
									</a>
								</div>
							</div>
							<!-- Remove the `liked` and `disliked` classes to display the buttons in their default state -->
						</div>

						<div class="view-item">
							<svg class="svg-icon icon-eye"><use xlink:href="#icon-view"></use></svg>
							<div class="text">26</div>
						</div>
					</div>
					{{> comment}}
				</div>
			</div>
		</div>
	</div>
	<div class="col-right">
		<a href="#" class="followers-btn">
			<span class="value">2.6 тыс</span>
			<span class="text">подписчиков</span>
		</a>
		<div class="country-text">
			<svg class="svg-icon"><use xlink:href='#icon-location'/></svg>
			<div class="text">Казахстан</div>
		</div>
		<a href="#" class="btn unsubscribe">
        	<svg class="svg-icon"><use xlink:href="#icon-no-heart"></use></svg>
        	<span>Отписаться</span>
        </a>

        <div class="profile-info">
        	<div class="title-box">ЛИЧНЫЕ ДАННЫЕ</div>
        	<div class="personal-data">
				<div class="personal-item">
					<span class="label">Пол</span>
					<span class="value">
						<svg class="svg-icon"><use xlink:href='#icon-male'/></svg>
						<span class="name">Женский</span>
					</span>
				</div>
				<div class="personal-item">
					<span class="label">Возраст</span>
					<span class="value">19 лет</span>
				</div>
				<div class="personal-item">
					<span class="label">Рост</span>
					<span class="value">151 см</span>
				</div>
				<div class="personal-item">
					<span class="label">Вес</span>
					<span class="value">41 кг</span>
				</div>
				<div class="personal-item">
					<span class="label">Образование</span>
					<span class="value">Среднее</span>
				</div>
				<div class="personal-item">
					<span class="label">Профессия</span>
					<span class="value">Выдаю посылочки на Wildberies, а по выходным балую подписчиков пикантным контентом подписчиков на SecretRoom</span>
				</div>
				<div class="personal-item">
					<span class="label">Ориентация</span>
					<span class="value">Гетеро</span>
				</div>
			</div>

        </div>

        <div class="favorite-categories-wrap">
        	<div class="title-box">ЛЮБИМЫЕ КАТЕГОРИИ</div>
        	<ul class="list">
        		<li class="item">
        			<a href="#" class="btn">Стройная</a>
        		</li>
        		<li class="item">
        			<a href="#" class="btn">Брюнетка</a>
        		</li>
        		<li class="item">
        			<a href="#" class="btn">Жёсткое</a>
        		</li>
        		<li class="item">
        			<a href="#" class="btn">Бритая писька</a>
        		</li>
        		<li class="item">
        			<a href="#" class="btn">Красивая грудь</a>
        		</li>
        		<li class="item">
        			<a href="#" class="btn">Стройная</a>
        		</li>
        		<li class="item">
        			<a href="#" class="btn">Брюнетка</a>
        		</li>
        		<li class="item">
        			<a href="#" class="btn">Жёсткое</a>
        		</li>
        		<li class="item">
        			<a href="#" class="btn">Бритая писька</a>
        		</li>
        		<li class="item">
        			<a href="#" class="btn">Красивая грудь</a>
        		</li>
        	</ul>
        </div>
	</div>
</div>

{{> footer}}
